.font-test {
    margin-bottom: 10px;
}

.pangrambold {
    font-family: 'pangrambold';
}

.roboto {
    font-family: 'robotoregular';
}

.roboto-mono {
    font-family: 'roboto_monoregular';
}

.roboto-mono-light {
    font-family: 'roboto_monolight';
}

.gridnik {
    font-family: 'gridnikregular';
}