/******************************************************************
Site Name: Assembly.com
Author: Patrick Hoydar

Stylesheet: Typography
******************************************************************/

/*********************
FONT FACE (IN YOUR FACE)
*********************/

/**
 * Pangram Font
 */
@font-face {
  font-family: 'pangrambold';
  src: url('../../fonts/pangram/pangram-bold-webfont.woff2') format('woff2'),
       url('../../fonts/pangram/pangram-bold-webfont.woff') format('woff'),
       url('../../fonts/pangram/pangram-bold-webfont.svg#Pangram-Bold') format('svg'),
       url('../../fonts/pangram/pangram-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
 * Roboto Font
 */
@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto/roboto-regular-webfont.svg') format('svg'),
         url('../../fonts/roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monolight';
    src: url('../../fonts/roboto/robotomono-light-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/robotomono-light-webfont.woff') format('woff'),
         url('../../fonts/roboto/robotomono-light-webfont.svg') format('svg'),
         url('../../fonts/roboto/robotomono-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monoregular';
    src: url('../../fonts/roboto/robotomono-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/robotomono-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto/robotomono-regular-webfont.svg') format('svg'),
         url('../../fonts/roboto/robotomono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
 * Gritnik Font
 */
@font-face {
    font-family: 'gridnikregular';
    src: url('../../fonts/gridnik/gridnik-webfont.woff2') format('woff2'),
         url('../../fonts/gridnik/gridnik-webfont.woff') format('woff'),
         url('../../fonts/gridnik/gridnik-webfont.svg#gridnikregular') format('svg')
         url('../../fonts/gridnik/gridnik-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;