.modular {
	&.hover,
	&:hover {
		[data-letter="m"] {
			animation-name: modularM;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			animation-delay: 0.4s;
			// transform: translate3d(40px,-60px,0);
		}
		// [data-letter="o"] {
		// 	transform: translate3d(50px,-60px,0);
		// }
		// [data-letter="d"] {
		// 	transform: translate3d(60px,-60px,0);
		// }
		// [data-letter="u"] {
		// 	transform: translate3d(-92px,20px,0);
		// }
		// [data-letter="l"] {
		// 	transform: translate3d(-72px,20px,0);
		// }
		// [data-letter="a"] {
		// 	transform: translate3d(-90px,94px,0);
		// }
		// [data-letter="r"] {
		// 	transform: translate3d(-70px,94px,0);
		// }
	}
}

/**
 * Modular Animations
 */

@keyframes modularM {
	1% {
		display: block;
		transform: translate3d(0,0,0);
	}

	50% {
		transform: translate3d(0,0,0);
	}

	51% {
		transform: translate3d(40px,-60px,0);
	}

	100% {
		transform: translate3d(40px,-60px,0);
	}
}