		/**
		 * Modular Animations
		 */
		.modular {
			&.hover h3,
			&.selected h3 {
				[data-letter="m"] {
					animation-name: modularM;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="o"] {
					animation-name: modularO;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="d"] {
					animation-name: modularD;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="u"] {
					animation-name: modularU;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="l"] {
					animation-name: modularL;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="a"] {
					animation-name: modularA;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				[data-letter="r"] {
					animation-name: modularR;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
			}
		}

		@keyframes modularM {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			99% {
				transform: translate3d(0,0,0);
			}

			100% {
				transform: translate3d(0,-75px,0);
			}
		}

		@keyframes modularO {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			39% {
				transform: translate3d(0,0,0);
			}

			40% {
				transform: translate3d(0,-75px,0);
			}

			100% {
				transform: translate3d(0,-75px,0);
			}
		}

		@keyframes modularD {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			2% {
				transform: translate3d(0,-75px,0);
			}

			100% {
				transform: translate3d(0,-75px,0);
			}
		}

		@keyframes modularU {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			4% {
				display: block;
				transform: translate3d(0,0,0);
			}

			5% {
				transform: translate3d(-50px,27px,0);
			}

			48% {
				transform: translate3d(-50px,27px,0);
			}

			49% {
				transform: translate3d(-117px,27px,0);
			}

			100% {
				transform: translate3d(-117px,27px,0);
			}
		}

		@keyframes modularL {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			19% {
				display: block;
				transform: translate3d(0,0,0);
			}

			20% {
				display: block;
				transform: translate3d(0,27px,0);
			}

			90% {
				display: block;
				transform: translate3d(0,27px,0);
			}

			91% {
				display: block;
				transform: translate3d(-110px,27px,0);
			}

			100% {
				transform: translate3d(-110px,27px,0);
			}
		}

		@keyframes modularA {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			2% {
				transform: translate3d(0,85px,0);
			}

			30% {
				transform: translate3d(0,85px,0);
			}

			31% {
				transform: translate3d(0,105px,0);
			}

			99% {
				transform: translate3d(0,105px,0);
			}

			100% {
				transform: translate3d(-135px,105px,0);
			}
		}

		@keyframes modularR {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			80% {
				transform: translate3d(0,0,0);
			}

			81% {
				transform: translate3d(-125px,105px,0);
			}

			100% {
				transform: translate3d(-125px,105px,0);
			}
		}

		@media only screen and (min-width: 1030px) {
			@keyframes modularM {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				99% {
					transform: translate3d(0,0,0);
				}

				100% {
					transform: translate3d(0,-95px,0);
				}
			}

			@keyframes modularO {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				39% {
					transform: translate3d(0,0,0);
				}

				40% {
					transform: translate3d(0,-95px,0);
				}

				100% {
					transform: translate3d(0,-95px,0);
				}
			}

			@keyframes modularD {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				2% {
					transform: translate3d(0,-95px,0);
				}

				100% {
					transform: translate3d(0,-95px,0);
				}
			}

			@keyframes modularU {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				4% {
					display: block;
					transform: translate3d(0,0,0);
				}

				5% {
					transform: translate3d(-50px,27px,0);
				}

				48% {
					transform: translate3d(-50px,27px,0);
				}

				49% {
					transform: translate3d(-187px,27px,0);
				}

				100% {
					transform: translate3d(-187px,27px,0);
				}
			}

			@keyframes modularL {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				19% {
					display: block;
					transform: translate3d(0,0,0);
				}

				20% {
					display: block;
					transform: translate3d(0,27px,0);
				}

				90% {
					display: block;
					transform: translate3d(0,27px,0);
				}

				91% {
					display: block;
					transform: translate3d(-180px,27px,0);
				}

				100% {
					transform: translate3d(-180px,27px,0);
				}
			}

			@keyframes modularA {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				2% {
					transform: translate3d(0,85px,0);
				}

				30% {
					transform: translate3d(0,85px,0);
				}

				31% {
					transform: translate3d(0,105px,0);
				}

				99% {
					transform: translate3d(0,105px,0);
				}

				100% {
					transform: translate3d(-175px,105px,0);
				}
			}

			@keyframes modularR {
				1% {
					display: block;
					transform: translate3d(0,0,0);
				}

				80% {
					transform: translate3d(0,0,0);
				}

				81% {
					transform: translate3d(-175px,105px,0);
				}

				100% {
					transform: translate3d(-175px,105px,0);
				}
			}
		} // end of media query