// import mixins
@import "../partials/mixins";

@media only screen and (min-width: 1030px) {
	.filter-wrap {
		z-index: 20;
	}

	.page-case-studies {
		@import "../partials/case_study_hover";
	}
}

.content .content-header {
	position: relative;
	padding-bottom: 20.77%;

	.mesh-bg {
	    margin-top: calc(97%/414*100);
	    margin-left: 1%;
	    height: 88%;
	    width: calc(362%/414*100);

	    @include mq(small) {
			height: 80%;
	    }
	}
}

.group {
	position: relative;
}

.case-study-landing[data-kit-type="custom"] {
	.group-1 {
		.mesh-bg {
		    top: 320px;
		    right: 0;
		    width: 225px;
		    height: 600px;

		    @include mq(medium) {
			    top: 209px;
			    right: 9.5%;
			    width: calc(779%/1440*100);
			    height: calc(678%/1440*100);
		    }
		}
	}

	.group-3 {
		.mesh-bg {
		    top: 130px;
		    left: 6px;
		    right: auto;
		    width: 319px;
		    height: 342px;

			@include mq(medium) {
			    top: 12%;
			    left: 3.5%;
			    right: auto;
			    width: 45%;
			    height: 66%;
			}
		}
	}
}

.case-study-landing[data-kit-type="modular"],
.case-study-category[data-kit-type="modular"] {
	.group-1 {
		.mesh-bg {
			top: calc(88%/414*100);
			width: calc(265%/414*100);
			height: 78%;

			@include mq(medium) {
			    top: 50%;
			    width: 40%;
			    height: 35%;
			}

			@include mq(large) {
				top: 48%;
				width: calc(500%/1440*100);
				height: 44%;
			}
		}
	}

	.group-3 {
		.mesh-bg {
		    top: 18%;
		    right: 4%;
		    width: 88%;
		    height: 110%;

		    @include mq(medium) {
			    top: 0;
			    right: 9.5%;
			    width: 60%;
			    height: 110%;
		    }

		    @include mq(large) {
			    right: 0.5%;
			    width: 63%;
    			height: 80%;
		    }
		}
	}

	.group-4 {
		.mesh-bg {
		    top: 56%;
		    height: 37%;


			@include mq(medium) {
				top: 36%;
				width: 40%;
				height: 100%;
			}

			@include mq(large) {
				display: none;
			}
		}
	}
}

.case-study-category[data-kit-type="modular"][data-category="hospitality"] {

}