// import mixins
@import "../partials/mixins";
@import "../partials/functions";
/*********************
SERVICES Page
**********************/
.page-services {
	background-color: #fff;

	.scroll-overlay {
		background: rgba(255,255,255,0.8);
		transform: translate3d(0,0,0);
		transition: transform 0.5s;

		&.going-down {
			transform: translate3d(0,-100%,0);
		}

		&.going-up {
			transform: translate3d(0,0,0);
		}
	}

	.section-header {
		font-family: 'pangrambold';
		font-size: rem(32);
		margin: 24% auto 11%;
		width: 77%;
	}

	.filter-wrap {
		margin-bottom: 11.5%;
	}

	select {
		margin-bottom: 0;
	}

	.mesh-bg {
		top: 0;
		margin-top: 20%;
		width: 85%;
		height: 60%;
		z-index: -1;
	}

	.tile {
		margin: 0 0 20% 0;
		float: none;
		width: auto;

		.tile-img {
			margin-bottom: 6%;
		}
	}

	.service-desc {
		width: 77%;
		margin: 0 auto 24%;
		font-size: rem(13);
		line-height: 1.76;
		color: #7D7D7D;
	}

	[data-service] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		pointer-events: none;
		opacity: 0;
		transform: translate3d(0,50px,0);

		.tile[data-service-id] {
			cursor: pointer;
		}

		&.show {
			pointer-events: auto;
			animation-name: serviceShow;
			animation-duration: .4s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
			animation-delay: .2s;
		}

		&.hide {
			animation-name: serviceHide;
			animation-duration: .4s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
	}

	.content {
		float: left;
		width: 100%;
		clear: both;
		position: relative;
		overflow: hidden;

		.content-tile {
			margin-bottom: 30%;
		}

		.permitting-wrapper,
		.team-player-wrapper,
		.engineering-wrapper,
		.interior-buildouts-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-inner {
					margin-left: 11.3%;
					width: 78%;

					img {
						width: 100%;
					}
				}
			}
		}
		.team-player-wrapper,
		.imagine-experience-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-info {
    				width: 200%;
				}

				.tile-inner {
					margin-left: 14.25%;
					width: 68%;
				}
			}
		}
	}

	.all-services {
		.tile.visualisation {
			margin-left: calc(71%/414*100);
			width: 60.39%;
		}

		.tile.permitting {
			margin-left: calc(56%/414*100);
			width: 77%;
		}

		.tile.engineering {
			margin-left: calc(38%/414*100);
			width: calc(322%/414*100);
		}

		.tile.interior-buildouts {
			margin-left: calc(76%/414*100);
			width: 66%;

			.mesh-bg {
			    top: -186px;
			    right: -66px;
			    left: auto;
			    height: 429px;
			    width: 283px;
			}
		}

		.tile.team-player {
			margin-left: calc(32%/414*100);
			width: 77%;
		}

		.tile.imagine-experience {
			margin-left: calc(64%/414*100);
		    margin-bottom: 45.89%;
			width: 70.29%;

			.mesh-bg {
				right: auto;
				left: -55px;
				height: resppx(466, 414, 320);
				width: resppx(260, 414, 320);
				margin: 0;
				top: 97px;
			}
		}
	}

	.individual-service {
		.content-1,
		.content-2,
		.content-3,
		.content-4 {
			width: 78%;
			margin-left: 13.7%;
		}

		.content-2,
		.content-4 {
			margin-left: 9%;
		}
	}

	.visualisation-wrapper {
		.intro-tile  {
			margin-left: calc(71%/414*100);
			width: 60.39%;
		}

		.content-1 {
			width: 78%;
	    	margin-left: 13.7%;

			.mesh-bg {
			    top: -217px;
			    right: 0;
			    width: 150px;
			    height: 313px;
			}
		}

		.content-2 {
			width: 78%;
	    	margin-left: 9%;

			.mesh-bg {
			    width: 32px;
			    right: auto;
			    left: 10px;
			    height: 300px;
			    top: -110px;
			}
		}
	}
}

@include mq(medium) {
	/*********************
	SERVICES Page
	**********************/
	.page-services {
		.mesh-bg {
    		height: 33%;
		}

		.scroll-overlay {
			background: transparent;
		}

		.section-header {
	    	margin: 242px 0 0 8.43%;
		}

		.mesh-bg {
			margin-top: 216px;
		}

		.filter-menu {
		    position: fixed;
		    right: 0;
		    top: 168px;
		    margin-right: 7.82%;
		    padding: 16px 33px 20px 17px;
		    z-index: 10;
		    opacity: 0;
		    background: #fff;
		    pointer-events: none;

		    &.show {
		    	opacity: 1;
		    	pointer-events: auto;
		    }

			div {
				a {
					letter-spacing: 0.7px;
				}
			}
		}

		.all-services {
			.tile {
				width: 28.54%;

				.tile-inner {
					width: 100%;
					margin: 0;

					img {
						width: 100%;
					}
				}

				&.visualisation {
					margin-left: 15.07%;
		    		margin-top: 94px;
		    		margin-bottom: 129px;
		    		float: left;
		    		width: 28.54%;
				}

				&.permitting {
					width: 22.64%;
					float: right;
		    		margin: 288px 14.86% 0 0;
				}

				&.engineering {
		    		width: 48.4%;
				    clear: left;
				    float: left;
				    margin-bottom: 0;
				    margin-left: 0;

				    .tile-info {
				    	margin-left: 6.2%;
				    }
				}

				&.interior-buildouts {
					float: right;
					width: 32.85%;
					margin-left: 0;
					margin-right: 10.63%;
					margin-top: 124px;
					margin-bottom: 0;
					clear: right;

					.mesh-bg {
						top: -168px;
		    			right: -107px;
		    			width: 335px;
		    			height: 314px;
					}
				}

				&.team-player {
					float: right;
					clear: both;
					margin-right: 9.38%;
					margin-top: 165px;
					margin-bottom: 0;
					width: 28.54%;
				}

				&.imagine-experience {
					float: left;
					margin-left: 15.07%;
					margin-bottom: 145px;
					width: 28.54%;

					.mesh-bg {
					    left: -96px;
					    // height: 534px;
					    height: 284px;
					    width: 315px;
					   	top: 233px;
					}
				}
			}
		}

		.content {
			clear: both;

			.tile {
				.tile-info {
	    			margin-top: 20px;
				}

				.tile-img {
					margin-bottom: 0;
				}

				img {
					width: 100%;
					margin: 0;
				}

				&.right {
					float: right;
				}
			}

			.individual-service {
				.service-desc {
					width: 22.92%;
					float: left;
					margin-left: 7.01%;
					margin-top: 260px;
	    			margin-bottom: 0;
				    font-size: rem(11);
				    line-height: 1.82;
					letter-spacing: 0.97px;
				}


				.tile {
					.tile-inner {
						margin: 0;
						width: 100%;
					}
				}

				.intro-tile {
					float: left;
				}

				.tile-1 {
					margin-bottom: 0;
				}

				.tile-2 {
					float: right;
					clear: left;
				}

				.tile-3 {
					float: left;
				}
			}

			.visualisation-wrapper {
				width: 100%;

				.tile {
					width: 28.85%;
					margin-left: 15.069%;
					float: left;
					margin-bottom: 0;

					// &.right {
					// 	float: right;
					// 	margin-right: 15.42%;
					// 	margin-top: 8px;
					// }
				}

				.intro-tile {
					width: calc(410%/1440*100);
					margin-left: calc(217%/1440*100);
					float: left;
					margin-bottom: 0;
				}

				.service-desc {
					margin-top: 120px;
					width: 30.92%;
				}

				.tile-2 {
					float: right;
					margin-right: 15.42%;
					margin-left: 0;
				}

				.tile-3 {
					width: 22.22%;
					margin-left: 21.39%;
	    			margin-top: 290px;
	    			margin-bottom: 176px;
				}

				.content-1 {
					margin-top: 68px;

					.mesh-bg {
					    top: 45px;
					    right: -88px;
					    width: 332px;
					    // height: 313px;
					    height: 193px;
					    margin-top: 0;
					}
				}

				.content-2 {
					padding-bottom: 170px;

					.mesh-bg {
					    width: 562px;
					    right: auto;
					    bottom: 0;
					    // height: 306px;
					   	height: 256px;
					    top: auto;
					}
				}
			}

			.permitting-wrapper {
				width: 100%;

				.service-desc {
					margin-left: calc(102%/1440*100);
					margin-top: 167px;
				}

				.tile {
					width: 34.514%;
					margin-left: calc(44%/1440*100);
					float: left;
					margin-bottom: 0;

					&.right {
						float: right;
					}
				}

				.content-1 {
					width: 22.64%;
					margin-right: calc(302%/1440*100);
					clear: left;
					margin-left: 0;
					margin-top: 79px;
				}

				.content-2 {
					width: 22.5%;
					margin-left: calc(302%/1440*100);
	    			margin-top: 249px;
	    			margin-bottom: 126px;
				}

				.content-1 {
					.mesh-bg {
					    top: 155px;
					    right: -168px;
					    width: 332px;
					    height: 313px;
					    margin-top: 0;
					}
				}

				.content-2 {
					.mesh-bg {
					    width: 562px;
					    right: auto;
					    bottom: 0;
					    height: 306px;
					    top: auto;
					}
				}
			}

			.team-player-wrapper {
				.service-desc {
					margin-left: calc(102%/1440*100);
					// margin-top: 167px;
					margin-top: 70px;
					width: 42.92%;
				}

				.tile {
					margin: 0;
					float: left;
					margin-bottom: 0;

					&.right {
						float: right;
					}
				}

				.intro-tile {
					width: calc(410%/1440*100);
					margin-left: 9.02%;
				}

				.content-1 {
				    width: calc(383%/1440*100);
				    margin-right: calc(328%/1440*100);
				    clear: left;
				    margin-left: 0;
				    // margin-top: -100px;

					.mesh-bg {
					    top: 155px;
					    right: -168px;
					    width: 337px;
					    height: 313px;
					    margin-top: 0;
					}
				}

				.content-2 {
				    clear: both;
				    margin-right: calc(388%/1440*100);
				    width: calc(495%/1440*100);
	    			margin-top: 146px;
	    			margin-bottom: 200px;
	    			float: right;
				}
			}

			.engineering-wrapper {
				.service-desc {
					margin-left: calc(102%/1440*100);
					margin-top: 210px;
				}

				.intro-tile {
					width: calc(695%/1440*100);
					margin-left: 0;
					float: left;
					margin-bottom: 0;

					.tile-info {
						margin-left: 47px;
					}

					&.right {
						float: right;
					}
				}

				.content-1 {
					width: calc(506%/1440*100);
					margin-right: calc(214%/1440*100);
					clear: left;
					margin-left: 0;
					margin-top: 98px;

					.mesh-bg {
					    top: -63px;
					    right: -78px;
					    width: 332px;
					    height: 313px;
					    margin-top: 0;
					    float: right;
					}
				}

				.content-2 {
					width: calc(323%/1440*100);
					margin-left: calc(219%/1440*100);
	    			margin-top: 274px;
	    			margin-bottom: 126px;
	    			float: left;

					.mesh-bg {
					    width: 562px;
					    right: auto;
					    bottom: 0;
					    height: 306px;
					    top: 0;
					    margin-top: 202px;
					    margin-left: 47.194%;
					}
				}
			}

			.interior-buildouts-wrapper {
				.service-desc {
					margin-bottom: auto;
					margin-left: auto;
					margin-right: auto;
					margin: 130px auto 0;
					// width: 62.04%;
					width: 92.04%;
					float: none;
				}

				.tile {
					&.right {
						float: right;
					}

					&.middle {
						float: none;
					    margin: 0 auto;
					    clear: both;
					}
				}

				.intro-tile {
					width: calc(495%/1440*100);
					margin-left: calc(131%/1440*100);
					margin-bottom: 244px;
				}

				.content-1 {
					width: calc(410%/1440*100);
					margin-right: calc(216%/1440*100);
					margin-left: 0;
					margin-top: 186px;
					margin-bottom: 283px;

					.mesh-bg {
					    top: 535px;
					    right: -80px;
					    width: 332px;
					    height: 313px;
					    margin-top: 0;
					}
				}

				.content-2 {
					width: calc(410%/1440*100);
					margin-left: calc(214%/1440*100);
	    			margin-top: 0;
	    			margin-bottom: 222px;
	    			float: left;

					.mesh-bg {
						display: block;
					    width: 540px;
					    right: auto;
					    bottom: -170px;
					    height: 313px;
					    top: auto;
					    margin-left: 45.194%;
					    display: none;
					}
				}

				.content-3 {
					width: calc(410%/1440*100);
					margin-left: auto;
					margin-right: calc(129%/1440*100);
	    			margin-bottom: 126px;

	    			.mesh-bg {
	    				display: none;
	    			}
	    		}

				.content-4 {
					width: calc(495%/1440*100);
					margin: 0 auto;

	    			&.middle {
	    				margin-bottom: 118px;
	    			}

	    			.mesh-bg {
	    				display: none;
	    			}
	    		}
			}

			.imagine-experience-wrapper {
				.service-desc {
					margin-left: calc(232%/1440*100);
					margin-top: 197px;
				}

				.intro-tile {
					width: calc(330%/1440*100);
					margin-left: calc(253%/1440*100);
					float: left;
					margin-bottom: 0;

					&.right {
						float: right;
					}
				}

				.content-1 {
				    width: calc(566%/1440*100);
				    margin-right: calc(144%/1440*100);
					clear: left;
					margin-left: 0;
					margin-top: 79px;

					.mesh-bg {
					    top: 228px;
					    right: -94px;
					    width: 332px;
					    height: 313px;
					    margin-top: 0;
					}
				}

				.content-2 {
				    width: calc(497%/1440*100);
				    margin-left: calc(45%/1440*100);
	    			margin-top: 249px;
	    			margin-bottom: 216px;
	    			float: left;

					.mesh-bg {
					    width: 336px;
					    height: 318px;
					    right: auto;
					    bottom: -160px;
					    top: auto;
					    margin-left: -40px;
					}
				}

				.content-1 {

				}

				.content-2 {
				}
			}
		}

		.individual-service {
			padding-top: 93px;
			float: left;
			width: 100%;
			clear: both;
		}

		a[href="/case-studies"] {
			width: 263px;
			margin: 0;
			clear: both;
			float: right;
			margin-right: 5.97%;
	    	margin-bottom: 16px;
	    	margin-top: 0;
		}
	}
}

@include mq(large) {
	.page-services {
		.all-services {
			.tile.interior-buildouts {
				margin-right: 13.63%;
			}

			.tile.imagine-experience {
			    margin-left: 11.07%;
			}

			.tile.team-player {
    			margin-right: 13.38%;
			}
		}

		 .content {
		 	.tile .tile-info {
		 		width: 160%;
		 	}

		 	.visualisation-wrapper .service-desc {
		 			margin-top: 140px;
		 	}

			.team-player-wrapper .content-1 {

			}

			.interior-buildouts-wrapper {
				.content-2 {
					.mesh-bg {
						display: block;
					}
				}
			}
		}
	}
}

@keyframes serviceShow {
	0% {
		display: block;
	}

	1% {
		opacity: 0;
		transform: translate3d(0,50px,0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

@keyframes serviceHide {
	0% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	99% {
		opacity: 0;
		transform: translate3d(0,-50px,0);
	}

	100% {
		pointer-events: none;
		display: none;
	}
}