/******************************************************************
Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.mobile-only {
	display: none;
}

.no-desktop {
	display: none;
}

.desktop {
	display: block;
}

/*********************
MAIN LOGO
**********************/
.logo {
	background: url(../../images/sprites/Assembly_Logo_TempSpaces-desktop-init-white.png) no-repeat;
    width: 373px;
    height: 77px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: calc(67%/1440*100);
    background-size: 900%;
    background-position: 0 0;

    .svg-logo {
    	display: none;
    }
}

/*********************
MENU & NAVIGATION STYLES
*********************/
.main-menu {
    .footer {

    }
}

/*********************
Main Menu BTN
**********************/
.main-menu-btn {
	height: 61px;
	width: 61px;
	max-width: none;
	margin-top: 59px;
	margin-right: calc(49%/1440*100);

	&:after {
		pointer-events: none;
	}

	.hamburger {
		display: none;
	}

	svg {
		display: block;
	}

	.menu-rectangle {
		opacity: 0;
		transition: opacity 0.5s 1s;
	}

	.menu-letter {
		opacity: 0;
		transition: opacity 1s;
	}

	.letter-n {
		transform: translate3d(9px, -17px, 0);
	}

	.letter-u {
		transform: translate3d(9px, -34px, 0);
	}

	&.animate {
		.menu-rectangle {
			opacity: 1;
		}

		.menu-letter {
			opacity: 1;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-delay: 0.7s;
		}

		.letter-n {
			animation-name: moveMenuLetterN;
		}

		.letter-u  {
			animation-name: moveMenuLetterU;
		}
	}
}

@keyframes moveMenuLetterN {
	50% {
		transform: translate3d(9px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveMenuLetterU {
	50% {
		transform: translate3d(9px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/*********************
Generic Section Styles
**********************/
.section-header {
    // padding: 78px 0 5px calc((87%/1440)*100);
}

header.scroll-overlay {
    position: fixed;

    .logo {
    	h1 {
    		background-size: cover;
    	}
    }
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg.dark {
	background-image: url(../../images/svg/mesh-dot-lrg.svg);
}

/*********************
Global Icons
**********************/
.nav-arrow-right {
	height: 15px;
	width: 15px;
    bottom: 5px;
}

/*********************
SOCIAL SPRITE
*********************/
.social {
    li {
    	margin-right: 13px;
    }
}

/*********************
h1, h2, h3...
**********************/
h1 {
	font-size: rem(72);
	line-height: 1.44;
}

/*********************
Utility Classes
**********************/
.clear {
    width: 100%;
    clear: both;
}

/*********************
Select Box Overrides
**********************/
.select-filter,
.select2 {
	display: none;
}

.filter-wrap {
	width: 273px;
	position: fixed;
	top: 0;
	right: 0;
	margin: 17% 0 0 0;
	z-index: 4;
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;

	&.show {
		opacity: 1;
		pointer-events: all;
	}
}

.filter-menu {
	display: block;
	font-family: 'pangrambold';
	font-size: rem(24);
	color: #bebebe;
	text-transform: lowercase;
	letter-spacing: 0.7px;
	margin-bottom: 32px;
	transition: opacity 0.5s;
	background: rgba(255,255,255,0.8);

    &.show {
    	opacity: 1;
    }

	div {
		margin-bottom: 5px;

		a {
			color: #bebebe;
			display: inline-block;
			line-height: 1.2;
			text-decoration: none;
		}

		&.active {
			a {
				color: #000;
				border-bottom: solid 2px #000;
			}
		}
	}
}

/*********************
Home Page
**********************/
.home {
	.landing {
		overflow: hidden;

		h2 {
			font-size: rem(65);
		}

		.mesh-bg {
			height: 508px;
			width: 354px;
			left: 8.9%;
    		top: 19.3%;
		}
	}

	.landing-inner {
		height: 100vh;
		width: 100vw;
		position: relative;
	}

	.main-content {
		padding-top: calc(181%/1440*100);
	}

	.company-statement {

		.svg-shape-1 {

		}

		p {
			width: 53%;
			letter-spacing: 0.85px;
		}
	}

	.group-0 {
		padding-top: 0;
	}

	.group-1 {
		margin-top: -255px;
		overflow: visible;
	}

	.group-2 {
    	margin-top: -38px;
	}

	.group-3 {
	    padding-top: 0;
	    margin-top: -417px;

	    .video {
	    	margin-top: 470px;

	    	.video_1-dimensions.vjs-fluid {
	    		padding-top: 76.25%;
	    	}
	    }
	}

	.group-4 {
		margin-top: 112px;
		padding-bottom: 168px;

		.projects-4 {
			margin-left: 0;
			width: 38%;

			.mesh-bg.dark {
			    width: 448px;
			    left: 8px;
			    right: auto;
			    height: 312px;
			}

			.carousel-wrapper {
				    padding-left: 8.14%;
			}
		}

		.projects-5 {
			padding: 0;
    		margin-top: -28px;
		}
	}

	.years-experience {
		.years-experience-numbers {
			pointer-events: none;
			font-size: rem(394);
			line-height: .84;
			right: 122px;
			top: -182px;
		}

		.years-experience-text {
			font-size: rem(16);
		}
	}
}

/*********************
HOME Projects Modules
**********************/
.projects-1 {
	.mesh-bg {
	    width: 688px;
	    height: 510px;
	    left: 12.1%;
	}

	.carousel {
    	padding-top: 89px;
	}
}

.projects-2 {
	.carousel {
    	padding-top: 53px;
	}
}

.home .services {
	.carousel {
		padding-top: 0;
	}
}

.home .approach {
	padding-top: 60px;
}

.home .employees {
	margin-top: 0;

	.nav-arrow-right {
		margin-left: 52%;
		right: auto;
	}

	.carousel {
		padding-top: 0;

		.slide img {
			transform: translate3d(0,0,0);
		}
	}

    .stripes-bg {
    	width: 826px;
	    top: 0;
	    left: -265px;
    }

    .employee-carousel-wrapper {
    	margin-top: 418px;
    }
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	.tile-img {
		margin-bottom: rem(28);
	}

	.tile-desc {
		display: inline-block;
		color: #7D7D7D;
	}
}

/*********************
CASE STUDIES Page
**********************/
.page-case-studies {
	.logo {
	    margin-top: 50px;
	    margin-left: calc(67%/720*100);
	}

	.case-study-svg {
		display: none;

		&.show {
			display: block;
		}
	}
	// SVG STYLES
	.case-study-svg-cat {
		pointer-events: bounding-box;
		cursor: pointer;

		.main {
			display: block;
			position: relative;
			transition: transform 0.3s ease-out;
			transform: translate3d(0, 30px, 0);
		}

		.vertical-line {
		    stroke-dasharray: 150;
		    stroke-dashoffset: -150;
		}

		.word-box {
			opacity: 0;
			transition: opacity 0.25s linear 0.25s;
		}

		.text {
			opacity: 0;
			transition: opacity 0.25s linear 0.4s;
		}

		circle {
			transition: opacity 0.25s linear;
			opacity: 0;
		}

		&:hover,
		&.selected {
			.main {
				transform: translate3d(0, 0, 0);
			}

			.vertical-line {
				animation: dash .25s linear forwards;
			}

			circle,
			.word-box,
			.text {
				opacity: 1;
			}
		}
	}

	@keyframes dash {
		to {
			stroke-dashoffset: 0;
		}
	}

	.landing {
		.section-header {
			z-index: 0;
		}

		.case-study-category {
			width: 50vw;
			height: 100vh;
			float: left;
			position: relative;
			font-family: 'pangrambold';
			font-size: rem(47);
			transition: transform 0.8s;

			.section-header {
				padding: 0;
			}
		}

		h3 {
			top: 37.6%;
		}

		.landing-inner {
			&.hide {
				.bg {
					transform: translate3d(0,-10%,0);
				}

				h3 {
					transform: translate3d(0,100%,0);
				}

				.square {
					transform: translate3d(0,20%,0);
				}

				.selected {
					.square {
						transform: translate3d(0,-20%,0);
					}
				}
			}
		}

		h3 {
			font-size: rem(85);
		}

		.hover-content {
			transition: transform 0.7s;

			.logo {
			    margin-top: 50px;
			    margin-left: calc(67%/720*100);

				img {
					display: block;
					width: 100%;
				}
			}
		}

		.default-content {
			width: 100%;
			height: 100%;

			.bg {
				background-size: 110%;
				background-position: 50% 50%;
			    width: 50vw;
			    height: 100vh;
			    position: absolute;
			    right: 0;
			}

			.inner {
			    width: 50vw;
			    height: 100vh;
			    position: absolute;
			    right: 0;
			}
		}

		.modular {
			h3 {
				left: 21.661%;
			}

			.default-content .bg {
				background-image: url(../../images/pages/case-studies/00-Modular-Landing.jpg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.custom {
			h3 {
				left: 23.4%;
			}

			.default-content .bg {
				background-image: url(../../images/pages/case-studies/00-Custom-Landing.jpg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		@import '../modules/case-study-landing-letters';
	}

	.content-header {
		.mesh-bg {
			display: none;
		}
	}

	.content {
		.case-study-desc {
			width: 16.53%;
		}

		.case-study-details {
 			margin-top: -110px;
		}
	}

	.filter-menu {
		background: transparent;
	}
}

/*********************
ABOUT US Page
**********************/
.page-about-us {
	.landing {
    	padding-top: 137px;

		& + .mesh-bg {
		    width: 44.72%;
		    height: 578px;
		    left: 0;
			margin: 192px 0 0 13.75%;
		}
	}

	h1 {
		font-size: rem(72);
		line-height: 1;
    	margin: 0 0 6.7% 8.6%;
	}

	.callout {
	    width: 23.03%;
   		padding: 2.45% 5% 2.2% 0;
    	margin: 0 0 4.2% 8.6%;
	}

	// about us years exp
	.years-experience {
	    top: -26px;
	    left: 0;
	    float: left;
	    display: block;
	    width: auto;
    	margin: 0 0 0 4.7%;

		.years-experience-numbers {
			font-size: rem(394);
			line-height: 0.854;
		    position: static;

		    .num {
		    	width: auto;
		    }
		}

		.years-experience-text {
			font-size: rem(16);
			color: #959595;
		    top: 421px;
		    left: 130px;
		    width: 100%;
		}
	}

	.video {
		margin: 0 7.92% 87px auto;
		clear: right;
		float: right;
		width: resp(837);

		.video-play-btn {
			width: 75px;
			height: 75px;
		}
	}

	.carousel-module.projects[data-image-ratio="1to1"] .carousel .tile-inner {
		padding: 0;
	}

	.carousel-module.projects .carousel-wrapper {
		padding-bottom: 0;
	}

	.projects {
	   	width: 23.75%;
		margin: 0 0 0 13.75%;
		padding-top: 0;
		float: left;

		.mesh-bg {
			display: none;
		}

		.carousel {
			padding: 0;

			.tile-inner {
				padding: 0;
			}
		}

		.tile-desc {
			display: none;
		}
	}

	.projects-2 {
		width: 28.89%;
		float: right;
		margin-right: resp(296);
		margin-top: -223px;
	}

	.inner-callout {
		width: resp(237);
		float: left;
		margin-left: resp(188);
		margin-top: 51px;

		p {
			font-size: rem(11);
			line-height: calc(16/11);
			letter-spacing: 0.92px;
		}
	}

	.employees {
		width: 100%;
		clear: both;
		margin: 150px 0 0 0;

		&.info-open {
			cursor: url(../../images/svg/close-x-dark.svg), auto;

			.employee-info .col {
				transform: translate3d(0, 0, 0);
			}

			.employee-list {
				pointer-events: none;
			}
		}

		.mesh-bg {
			width: 81.67%;
			height: 490px;
			top: -294px;
		}

		.years-experience {
			display: none;
		}

		.employee-info {
			display: block;
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			overflow: hidden;
			width: 100%;
			visibility: hidden;

			&.show {
				visibility: visible;
			}

			.col {
				width: 25%;
				float: left;
				min-height: 1px;
				transform: translate3d(0, 10%, 0);
				transition: transform 0.4s;
			}

			.employee-about {
				margin-top: 81px;
				padding-left: 29px;

				.inner {
					background: #fff;
					padding: 15px 27px 0;
					width: 244px;
				}
			}

			.employee-fun-fact {
				padding-left: 12px;

				.inner {
					width: 244px;
					padding: 80px 20px 130px 30px;
					background: #fff;
				}
			}

			.employee-years {
				margin-top: 81px;

				.numbers {
					background: #fff;
				}
			}
		}

		[data-employee="dominic-bennett"]{
			.col:nth-child(2) {
				// width: 14%;

				p {

				}
			}
		}

		&.in-view {
			.employee-list .employee:nth-child(even){
				transform: translate3d(0,0,0);
			}
		}
	}

	.employee-list {
		overflow: hidden;
	    z-index: 4;
	    position: relative;

		.employee {
			position: relative;
			cursor: pointer;
			float: left;
			width: 16.67%;
			margin-right: resp(102);
			z-index: 4;
			transition: opacity 0.5s;

			.image-wrap {
				background: rgba(0,0,0,0.15);
				position: relative;
			}

			.image-clip-bg {
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    padding: 20px;
			    transition: padding 0.3s;

			    .inner {
			    	height: 100%;
			    	width: 100%;
			    	background: #fff;
			    }
			}

			img {
				transition: opacity 0.3s, clip-path 0.3s;
				clip-path: inset(0px);
			}

			&:hover {
				img {
					clip-path: inset(20px);
					opacity: 0.4;
				}
			}

			&.clicked {
				img {
					clip-path: inset(0px);
					opacity: 0.4;
				}

				.image-clip-bg {
					padding: 0;
				}
			}

			&.invisible {
				opacity: 0;
				pointer-events: none;
			}

			&:first-child {
				margin-left: resp(44);
			}

			&:nth-child(even){
				transition: transform 0.5s ease-in-out;
				transform: translate3d(0, 95px, 0);
				padding-bottom: 45px;
			}

			img {
				width: 100%;
				margin-bottom: 35px;
			}

			.employee-name {
				font-family: 'gridnikregular';
				font-size: rem(13);
				line-height: 1;
				color: #221f20;
				margin-bottom: 3px;
			}

			.employee-title {
				color: #7d7d7d;
				font-size: rem(11);
				font-family: 'roboto_monoregular';
				line-height: calc(20/11);
			}
		}
	}

	.our-approach {
		clear: both;
    	margin-bottom: 25px;

		h3 {
			line-height: calc(21/13);
			margin-bottom: 0;
		}

		.copy {
			margin-left: resp(44);
		}

		.copy p {
			width: 37.93%;
			font-size: rem(48);
			line-height: calc(41/48);
			margin-bottom: 33px;
		}

		button {
			padding: 14px 20px 11px;
			letter-spacing: 0.03px;
			font-family: 'gridnikregular';
		}

		.slide-number {
		    position: relative;
		    top: 117px;
		    left: 105px;
		    display: none;
		}

		.carousel {
			background: none;
			padding-top: 0;
    		margin-top: 0;

			&.our-approach {
				.slick-slide {
					.slide-number {
						position: absolute;
					    left: -64px;
					    top: -71px;
						display: block;
						margin: 0;
					}

					.tile-copy {
					    position: absolute;
					    width: 22.22%;
					    top: 50px;
					    left: 0;
						padding: 0;
						margin: 0 0 0 calc(250%/1440*100);

						h4 {
							font-size: rem(13);
							line-height: 20px;
							letter-spacing: 1.08px;
							margin-bottom: 20px;
						    z-index: 1;
						    position: relative;
						}
					}
				}
			}

			[data-slick-index="0"] {
				svg { width: resp(1100) !important; }
			}
			[data-slick-index="1"] {
				svg { width: resp(1100) !important; }
			}
			[data-slick-index="2"] {
				svg { width: resp(1100) !important; }
			}
			[data-slick-index="3"] {
				svg { width: resp(1100) !important; }
			}
			[data-slick-index="4"] {
				svg { width: resp(1100) !important; }
			}
		}

		.carousel-nav {
			width: auto;
			margin-left: 5.8%;
		}

		.carousel-inner {
			padding-top: 0;
		}

		.carousel-wrapper {
		    padding-top: 65px;
		    margin-top: 50px;

			video {
				min-width: 800px;
				width: 63.89%;
				margin: 0 auto;
			}
		}

		.slick-dots {
			width: 22px;
			margin-left: 0;
    		margin-top: 9px;

			li:nth-child(5){
				margin-bottom: 0;
			}

			li:first-child {
				.up-down-nav {
					.up {
						opacity: 0;
					}
				}
			}

			.up-down-nav {
				display: block;
				left: -33px;
				position: relative;
				top: -42px;
				text-align: center;

				.num {
					margin-left: 1px;
					margin-bottom: 5px;
					margin-top: 2px;
				}

				span {
					display: block;
					width: 100%;
					text-align: center;
				}

				.up, .down {
					opacity: 0;
				    height: 15px;
				    width: 19px;
					display: inline-block;
					stroke: #7d7d7d;

					&:hover path {
						stroke: #98d8dc;
					}
				}

				.down {
					transform: rotate(180deg);
					position: relative;
				    left: -2px;
				}
			}

			&:after, .track {
				content: '';
				width: 2px;
				height: calc(100% - 20px);
				position: absolute;
				top: 10px;
				left: 50%;
				transform: translate(-50%, 0);
				background: #d9d9d9;
				opacity: 1;
				margin: 0;
				transition: height 0.5s;
			}

			.track {
				z-index: 2;
				background: #7d7d7d;
				height: 0;
			}

			li {
				display: block;
				margin-bottom: 125px;
				width: 22px;
				height: 22px;
				opacity: 1;
				z-index: 3;

				button {
					position: relative;
					padding: 0;
				    height: 100%;
				    width: 100%;

					&:before {
					    top: 50%;
					    left: 50%;
					    background: #d9d9d9;
					    transform: translate(-50%, -50%);
					    z-index: 1;
					    opacity: 1;
					}
				}

				&.slick-active {
					button {
					    height: 22px;
					    width: 22px;
					    background: #fff;
					    border-radius: 50%;
					    padding: 0;
					    border: solid 1px #93d5da;
					}

					button:before {
					    height: 15px;
					    width: 15px;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					}

					.up-down-nav {
						.down, .up {
							opacity: 1;
						}

						.down {
							stroke: #93d5da;
						}
					}
				}
			}
		}

		.approach-info {
			width: 24%;
			position: absolute;
			top: -50px;
			left: 19.03%;

			.inner {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity 0.4s;

				&.show-me {
					opacity: 1;
				}
			}

			.info-num {
			    font-family: pangrambold;
			    font-size: 143px;
			    letter-spacing: -1px;
			    color: #F4F4F4;
			    position: relative;
			    left: -18%;
			}

			.info-copy {
			    margin-top: -86px;
			    z-index: 1;
			    position: relative;
			}

			h5 {
				font-size: 13px;
				color: #000;
				font-family: 'gridnikregular';
				letter-spacing: 1.08px;
				line-height: calc(20/13);
				margin-top: 0;
			}

			p {
				color: #7D7D7D;
				font-size: 11px;
				line-height: calc(20/11);
				letter-spacing: 0.92px;
			}
		}
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index] svg {
		margin: 117px 0 0 212px;
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index="0"] svg {
		// margin: resp(92) 0 0 resp(156);
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index="1"] svg {
		// margin: resp(118) 0 0 resp(169);
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index="2"] svg {
		// margin: resp(92) 0 0 resp(156);
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index="3"] svg {
		// margin: resp(92) 0 0 resp(156);
	}

	.our-approach .carousel.our-approach .slick-slide[data-slick-index="4"] svg {
		// margin: resp(92) 0 0 resp(163);
	}

	a[href="/case-studies"] {
	    width: 263px;
	    margin: 0;
	    clear: both;
	    float: right;
	    margin-right: 5.97%;
	    margin-bottom: 16px;
	}

	.to-top {
		opacity: 1;
	}
}

/*********************
SERVICES Page
**********************/
.page-services {

	h1 {
		font-size: rem(72);
    	margin: 122px 0 0 8.43%;
		width: auto;
	}

	.mesh-bg {
		top: 0;
		width: 53.96%;
		height: 316px;
		margin-top: 15%;
		margin-left: 13.194%;
	}

	.filter-menu {
	    position: fixed;
	    right: 0;
	    top: 168px;
	    margin-right: 7.82%;
	    padding: 16px 33px 20px 17px;
	    z-index: 10;
	    opacity: 0;
	    background: #fff;

		div {
			a {
				letter-spacing: 0.7px;
			}
		}
	}

	.tile {
		width: 28.54%;

		.tile-inner {
			width: 100%;
			margin: 0;

			img {
				width: 100%;
			}
		}

		&.visualisation {
			margin-left: 15.07%;
    		margin-top: 94px;
    		margin-bottom: 129px;
    		float: left;
		}

		&.permitting {
			width: 22.64%;
			float: right;
    		margin: 288px 14.86% 0 0;
		}

		&.engineering {
    		width: 48.4%;
		    clear: left;
		    float: left;
		    margin-bottom: 0;

		    .tile-info {
		    	margin-left: 6.2%;
		    }
		}

		&.interior-buildouts {
			float: right;
			width: 32.85%;
			margin-right: 10.63%;
			margin-top: 124px;
			margin-bottom: 0;
			clear: right;

			.mesh-bg {
				top: -168px;
    			right: -107px;
    			width: 335px;
    			height: 314px;
			}
		}

		&.team-player {
			float: right;
			clear: both;
			margin-right: 9.38%;
			margin-top: 165px;
			margin-bottom: 0;
		}

		&.imagine-experience {
			float: left;
			margin-left: 15.07%;
			margin-bottom: 145px;

			.mesh-bg {
			    left: -96px;
			    height: 534px;
			    width: 315px;
			   	top: 233px;
			}
		}
	}

	.content.dynamic {
		.tile {
			.tile-info {
    			margin-top: 27px;
			}

			.tile-img {
			}

			img {
			}
		}

		.visualisation-wrapper {
			width: 100%;

			.tile {
				width: 28.85%;
				margin-left: 15.069%;
				float: left;
				margin-bottom: 0;
			}

			.service-desc {
				width: 22.92%;
				float: left;
				margin-left: 7.01%;
				margin-top: 260px;
    			margin-bottom: 250px;
			    font-size: rem(11);
			    line-height: 1.82;
			}

			.tile-2 {
				float: right;
				margin-right: 15.42%;
				margin-left: 0;
			}

			.tile-3 {
				width: 22.22%;
				margin-left: 21.39%;
    			margin-top: 290px;
    			margin-bottom: 176px;
			}

			.content-1 {
				.mesh-bg {
				    top: -78px;
				    right: -88px;
				    width: 355px;
				    height: 355px;
				}
			}

			.content-2 {
				.mesh-bg {
				    width: 562px;
				    right: auto;
				    bottom: -175px;
				    height: 355px;
				    top: auto;
				}
			}
		}

		.permitting-wrapper {
			.intro-tile {
				width: 34.514%;
				margin-left: 3.056%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 22.64%;
				margin-right: 20.97%;

				.mesh-bg {
					width: 340px;
					height: 320px;
    				top: 113px;
					margin-left: 35.194%;
				}
			}

			.tile-3 {
				width: 22.64%;
				margin-left: 21.04%;
				margin-top: 167px;
				margin-bottom: 315px;
			}
		}

		.team-player-wrapper {
			.intro-tile {
				width: 28.472%;
				margin-left: 9.028%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 26.597%;
				margin-right: 22.778%;
				margin-top: -150px;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: 15px;
				    margin-left: 63.194%;
				}
			}

			.tile-3 {
				width: 34.375%;
				float: right;
				margin-right: 26.944%;
				margin-top: 0;
				margin-bottom: 148px;
			}
		}

		.engineering-wrapper {
			.intro-tile {
				width: resp(697);
				margin-left: 0;

				.tile-inner {
					margin: 0;
					width: 100%;
				}

				.tile-info {
					margin-left: 6.599%;
				}
			}

			.service-desc {
				margin-bottom: 317px;
			}

			.tile-2 {
				width: resp(495);
				margin-right: resp(215);
				margin-top: 0;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 312px;
				    height: 335px;
				    top: -135px;
				    margin-left: 53.094%;
				}
			}

			.tile-3 {
				width: resp(323);
				float: left;
				margin-left: resp(216);
				margin-right: 0;
				margin-top: 162px;
				margin-bottom: 298px;

				.mesh-bg {
				    width: 534px;
				    height: 312px;
				    margin-top: 62%;
				    margin-left: 46.194%;
				}
			}
		}

		.interior-buildouts-wrapper {
			.intro-tile {
				width: resp(495);
				margin-left: 9.028%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin: resp(130) 0 resp(175) resp(217);
			}

			.tile-2 {
				width: resp(410);
				margin-right: resp(216);
				margin-top: -220px;
				margin-bottom: 219px;
				clear: none;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: 15px;
				    margin-left: 63.194%;
				}
			}

			.tile-3 {
				width: resp(409);
				float: left;
				margin-top: 0;
				margin-left: resp(214);
				margin-bottom: 0;
			}

			.tile-4 {
				width: resp(411);
				float: right;
				margin-right: resp(129);
    			margin-top: 14px;
    			margin-bottom: 329px;

    			.mesh-bg {
				    width: 355px;
				    height: 320px;
				    margin-top: -245px;
    			}
			}

			.tile-5 {
				width: resp(495);
				margin: 0 auto 170px;

				.mesh-bg {
					width: 536px;
					height: 310px;
    				left: -77px;
    				top: -316px;
				}
			}
		}

		.imagine-experience-wrapper {
			.intro-tile {
				width: resp(330);
				margin-left: resp(253);

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				width: resp(317);
				margin-top: 171px;
			}

			.tile-2 {
				width: resp(566);
				margin-right: resp(144);
				margin-top: 62px;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: auto;
				    bottom: -145px;
				    right: -115px;
				    margin-left: 0;
				}
			}

			.tile-3 {
				width: resp(497);
				float: left;
				margin-left: resp(45);
				margin-right: 0;
				margin-top: 253px;
				margin-bottom: 212px;

				.mesh-bg {
				    width: 335px;
				    height: 311px;
				    top: auto;
				    bottom: -150px;
				    left: -35px;
				}
			}
		}
	}

	.individual-service {
		padding-top: 93px;
	}

	a[href="/case-studies"] {
		width: 263px;
		margin: 0;
		clear: both;
		float: right;
		margin-right: 5.97%;
    	margin-bottom: 16px;
	}
}

/*********************
CONTACT
**********************/
// light footer
.page-contact {
	background: url(../../images/backgrounds/contact-bg-large-repeat.jpg);
	background-size: 54%;

	form {
		padding-top: 79px;
		width: 81.81%;
		margin: 0 auto 30px calc((130%/1440) *100);

		.pager {
			margin-top: 22px;
			margin-bottom: 19px;
		}

		p {
			width: 54.15%;
			line-height: 1.13;

			&:first-child {
				padding-top: 0;
			}
		}

		input {
			font-size: rem(38);
			line-height: 1.45;
			letter-spacing: 0.37px;
			padding: 14px 0 0 0;
			width: 100%;
			height: auto;
		}

		button {
			margin-top: 38px;
			font-family: 'gridnikregular';
			font-size: rem(13);
			letter-spacing: 1px;
		}
	}

	.add-photos-carousel-wrap {
    	padding: 0 106px 0;
    	width: 100%;
    	position: relative;
    	overflow: hidden;
	}

	.add-photos-carousel .image {
		padding: 0 9px;
	}

	.add-photo-overlay {
		p {
			font-size: rem(38);
			line-height: calc(43/38);
			letter-spacing: .37px;
			margin: resp(62) 0 resp(50) resp(129);
		}

		.mesh-bg {
			width: resp(1000);
			height: 314px;
			margin: resp(185) 0 0 resp(264);
		}

		nav {
			display: block;
			overflow: hidden;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);

			.nav-arrow {
				cursor: pointer;
				float: left;
				margin-left: resp(45);
			}

			.arrow-right {
				float: right;
				margin-right: resp(45);
			}
		}

		.image {
			&:hover {
				.hover-overlay {
					opacity: 1;
				}
			}
		}

		.close-btn {
			height: 31px;
			width: 31px;
			margin-right: resp(64);

			svg {
			}
		}

		.add-photo-btn {
			display: none;
		}
	}

	.add-photo {
		background: transparent;
		padding-left: calc((130%/1440) *100);
		padding-right: calc((130%/1440) *100);

		h3 {
			color: #fff;
			font-size: rem(13);
			letter-spacing: 1px;
			margin-bottom: 38px;
			text-align: left;
		}

		.open-add-images {
			margin: 0;
		}

		.photos-wrap {
    		padding-bottom: 37px;
		    width: 100%;

		    .inner {
		    	margin: 0;
		    	padding: 0;
		    }
		}
	}

	.contact-info {
		padding-top: 100px;
		width: 100%;
		overflow: hidden;
		background: #fff;

		&.no-mobile {
			display: block;
		}

		a, span {
			color: #000000;
		}

		.col {
			text-align: center;
			display: block;
			width: calc(100%/3);
			float: left;
		}
	}

	.footer {
		border-top: dashed 1px #9a9a9a;
		padding: 54px 0 45px 0;

		.contact-info {
			display: none;
		}

		.assembly-logo-icon {
			order: 2;
			margin: 0;
			height: 35px;
			flex: 1;
		}

		.social {
			order: 3;
			padding: 0;
			flex: 1;
			text-align: right;
			margin-right: 3.125%;
		}

		.copyright {
			color: #737373;
			order: 1;
			margin: 0;
			flex: 1;
			text-align: left;
			margin-left: 3.125%;
		}
	}

	.to-top-wrap {
		padding-top: 93px;
	}

	.to-top {
		opacity: 1;
	}
}

/*********************
TO TOP
**********************/
.to-top-wrap {
    display: block;
    background: #fff;
    clear: both;
}

/*********************
Footer
**********************/
.footer {
	padding: 34px 3% 8px;
    display: flex;
    justify-content: space-between;

    .col {
    	width: calc(100%/3);
    }

    .down-carrot {
		width: 19px;
		height: 15px;
	    display: block;
	    margin: 0 auto;
    }

	.col:first-child {
		order: 2;

		a {
			border: none;
			font-size: rem(18);
			padding: 17px 20px 11px;
		}
	}

	.col:nth-child(2) {
		order: 1;
		text-align: left;

		.assembly-logo-icon {
			width: 29px;
			margin: 0 0 17px 0;
		}
	}

	.col:nth-child(3) {
		order: 3;
		text-align: right;
	}

	.copyright {
		line-height: 13px;
		font-size: 10px;
	}

	.social {
		padding-top: 23px;
	}
}