/******************************************************************
Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.mobile-only {
	display: none;
}

.desktop {
	display: block;
}

/*********************
MAIN LOGO
**********************/
.logo {
    width: 179px;
}

/*********************
Main Menu BTN
**********************/
.main-menu-btn {
	top: 55px;
    right: 55px;
}

/*********************
Generic Section Styles
**********************/
.section-header {
    padding: 78px 0 5px calc(calc(87%/1440)*100);
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg.dark {
	background-image: url(../../images/svg/mesh-dot-lrg.svg);
}

/*********************
Global Icons
**********************/
.nav-arrow-right {
	height: 15px;
	width: 15px;
    bottom: 5px;
}

/*********************
SOCIAL SPRITE
*********************/
.social {
    li {
    	margin-right: 13px;
    }
}

/*********************
h1, h2, h3...
**********************/
h1 {
	font-size: rem(72);
	line-height: 1.44;
}

/*********************
Select Box Overrides
**********************/
.select-filter,
.select2 {
	display: none;
}

.filter-wrap {
	width: 273px;
	position: fixed;
	top: 0;
	right: 0;
	margin: 17% 0 0 0;
	z-index: 4;
	// opacity: 0;

	&.show {
		opacity: 1;
	}
}

.filter-menu {
	display: block;
	font-family: 'pangrambold';
	font-size: rem(24);
	color: #bebebe;
	text-transform: lowercase;
	letter-spacing: 0.7px;
	margin-bottom: 32px;
	background: rgba(255,255,255,0.8);

	div {
		margin-bottom: 5px;

		a {
			color: #bebebe;
			display: inline-block;
			line-height: 1.2;
			text-decoration: none;
		}

		&.active {
			a {
				color: #000;
				border-bottom: solid 2px #000;
			}
		}
	}
}

/*********************
Home Page
**********************/
.home {
	.landing {
		overflow: hidden;
		background-image: url(../../images/backgrounds/landing-bg-lrg.jpg);

		h2 {
			font-size: rem(65);
		}

		.mesh-bg {
			left: 8.9%;
    		top: 19.3%;
		}
	}

	.landing-inner {
		height: 100vh;
		width: 100vw;
		position: relative;
	}

	.company-statement {
		padding-top: 0;
		margin-top: 181px;

		.svg-shape-1 {
			top: 0;
			left: 52%;
			width: 227px;
		}

		p {
			width: 53%;
    		padding-top: 73px;
			letter-spacing: 0.85px;
    		margin: 0 auto 0 24.4%;
		}
	}

	.group-1 {
		margin-top: -255px;
	}

	.group-2 {
    	margin-top: -38px;
	}

	.group-3 {
	    padding-top: 0;
	    margin-top: -417px;

	    .video {
	    	margin-top: 470px;

	    	.video_1-dimensions.vjs-fluid {
	    		padding-top: 76.25%;
	    	}
	    }
	}

	.group-4 {
		margin-top: 112px;
		padding-bottom: 168px;

		.projects-4 {
			margin-left: 0;
			width: 38%;

			.mesh-bg.dark {
			    width: 448px;
			    left: 8px;
			    right: auto;
			    height: 312px;
			}

			.carousel-wrapper {
				    padding-left: 8.14%;
			}
		}

		.projects-5 {
			padding: 0;
    		margin-top: -28px;
		}
	}

	.years-experience {
		.years-experience-numbers {
			pointer-events: none;
			font-size: rem(394);
			line-height: .84;
			right: 122px;
			top: -182px;
		}

		.years-experience-text {
			font-size: rem(16);
		}
	}
}

/*********************
HOME Projects Modules
**********************/
.projects-1 {
	.mesh-bg {
	    width: 688px;
	    height: 510px;
	    left: 12.1%;
	}

	.carousel {
    	padding-top: 89px;
	}
}

.projects-2 {
	.carousel {
    	padding-top: 53px;
	}
}

.home .services {
	.carousel {
		padding-top: 0;
	}
}

.home .approach {
	padding-top: 60px;
}

.home .employees {
	margin-top: 0;

	.nav-arrow-right {
		margin-left: 52%;
		right: auto;
	}

	.carousel {
		padding-top: 0;

		.slide img {
			transform: translate3d(0,0,0);
		}
	}

    .stripes-bg {
    	width: 826px;
	    top: 0;
	    left: -265px;
    }

    .employee-carousel-wrapper {
    	margin-top: 418px;
    }
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	.tile-img {
		margin-bottom: rem(28);
	}

	.tile-desc {
		display: inline-block;
		color: #7D7D7D;
	}
}

/*********************
CASE STUDIES Page
**********************/
.page-case-studies {
	.landing .case-study-category {
		width: 50vw;
		height: 100vh;
		float: left;
		position: relative;
		font-family: 'pangrambold';
		font-size: rem(47);
	}

	.landing {
		.landing-inner {
			overflow: hidden;
			transition: height 0.7s;
			height: 100vh;
		}

		h3 {
			overflow: visible;
			position: absolute;
			z-index: 1;
		    margin: 0;
		    top: 43%;
		    left: 9.661%;
		    letter-spacing: -4px;
		    z-index: 3;
		    color: #000;
		    transition: color .7s;

			span {
				display: block;
				float: left;
			}
		}

		.hover-content {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			background: url(../../images/backgrounds/case-study-hover-mobile-bg.jpg) no-repeat;
			background-size: cover;
			transition: transform 0.7s;
		}
	}

	.landing {
		.default-content {
			width: 100%;
			height: 100%;

			.inner {
			    width: 50vw;
			    height: 100vh;
			    position: absolute;
			    right: 0;
			}
		}

		.modular .default-content .inner {
			background-image: url(../../images/case-study-modular-bg.jpg);
		}

		.custom .default-content .inner {
			background-image: url(../../images/case-study-custom-bg.jpg);
		}

		.square {
			width: 55.56%;
			height: 55.7%;
			top: 25%;
			left: 33.091%;
		}
	}

	.content {
		// position: absolute;

		header {
			padding-bottom: 20.77%;
		}

		h2 {
			font-size: rem(72);
			line-height: 1.043;
		    margin: 0;
		    padding-top: 185px;
		    padding-left: 121px;
		    width: 100%;
		}

		.case-study-desc {
			width: 16.53%;
			margin: 0 auto 102px 9.03%;
		}

		blockquote {
		    width: 22.64%;
		    float: right;
		    clear: right;
		    margin: 72px 26.74% 0 0;

			strong {
				font-family: 'gridnikregular';
				font-size: rem(13);
				line-height: 2.77;
				text-transform: capitalize;
				font-weight: normal;
				color: #221F20;
				letter-spacing: 1px;
			}

			p {
				font-size: rem(11);
				margin-top: 0;
				line-height: 1.81;
			}
		}
	}

	.tile {
		width: 34.58%;
		margin-bottom: 18.81%;

		.tile-img {
			img {
				width: 100%;
			}
		}

		&.tile-2,
		&.tile-3,
		&.tile-6 {
			width: 22.43%;
		}

		&.tile-4 {
			width: 25.69%;
		}

		&.tile-5,
		&.tile-7 {
			width: 28.54%;
		}

		&.tile-2 {
		    margin: 155px 15.07% 0 0;
		    float: right;
		}

		&.tile-3 {
			margin: -27px 0 0 9.03%;
			clear: left;
		}

		&.tile-4 {
			float: right;
			margin: 2.57% 23.68% 0 0;
		}

		&.tile-5 {
		    margin: 0 0 0 14.93%;
    		padding-top: 27%;
		    float: left;
		}

		&.tile-6 {
		    float: right;
		    clear: both;
		    margin: -8.5% 9.028% 0 0;
		}

		&.tile-7 {
		    margin: 14.4% 0 0 26.88%;
		}
	}
}

/*********************
ABOUT US Page
**********************/
.page-about-us {
	.landing {
    	padding-top: 137px;

		& + .mesh-bg {
		    width: 44.72%;
		    height: 578px;
		    left: 0;
			margin: 192px 0 0 13.75%;
		}
	}

	h1 {
		font-size: rem(72);
		line-height: 1;
    	margin: 0 0 6.7% 8.6%;
	}

	.callout {
	    width: 23.03%;
   		padding: 2.45% 5% 2.2% 0;
    	margin: 0 0 4.2% 8.6%;
	}

	// about us years exp
	.years-experience {
	    top: 0;
	    left: 0;
	    float: left;
	    display: block;
	    width: auto;
    	margin: -26px 0 0 4.7%;

		.years-experience-numbers {
			font-size: rem(394);
			line-height: 0.854;
		    position: static;

		    .num {
		    	width: auto;
		    }
		}

		.years-experience-text {
			font-size: rem(16);
			color: #959595;
		    top: 421px;
		    left: 130px;
		    width: 100%;
		}
	}

	.video {
		margin: 0 7.8% 0 auto;

		img {
			width: 100%;
		}
	}

	.projects.carousel-module {
	   	width: 23.75%;
		margin: 87px 0 0 13.75%;
		padding-top: 0;

		.mesh-bg {
			display: none;
		}

		.carousel {
			padding: 0;
		}

		.tile-inner {
			padding: 0;
		}
	}
}

/*********************
SERVICES Page
**********************/
.page-services {

	h1 {
		font-size: rem(72);
    	margin: 122px 0 0 8.43%;
		width: auto;
	}

	.mesh-bg {
		top: 0;
		width: 53.96%;
		height: 316px;
		margin-top: 15%;
		margin-left: 13.194%;
	}

	.filter-menu {
		position: absolute;
		right: 0;
		top: 168px;
		margin-right: 10.42%;

		div {
			a {
				letter-spacing: 0.7px;
			}
		}
	}

	.tile {
		width: 28.54%;

		.tile-inner {
			width: 100%;
			margin: 0;

			img {
				width: 100%;
			}
		}

		&.visualisation {
			margin-left: 15.07%;
    		margin-top: 94px;
    		margin-bottom: 129px;
    		float: left;
		}

		&.permitting {
			width: 22.64%;
			float: right;
    		margin: 288px 14.86% 0 0;
		}

		&.engineering {
    		width: 48.4%;
		    clear: left;
		    float: left;
		    margin-bottom: 0;
		}

		&.interior-buildouts {
			float: right;
			width: 32.85%;
			margin-right: 10.63%;
			margin-top: 124px;
			margin-bottom: 0;
			clear: right;

			.mesh-bg {
				top: -168px;
    			right: -107px;
    			width: 335px;
    			height: 314px;
			}
		}

		&.team-player {
			float: right;
			clear: both;
			margin-right: 9.38%;
			margin-top: 165px;
			margin-bottom: 0;
		}

		&.imagine-experience {
			float: left;
			margin-left: 15.07%;
			margin-bottom: 148px;

			.mesh-bg {
			    left: -96px;
			    height: 534px;
			    width: 315px;
			    top: 244px;
			}
		}
	}

	.content.dynamic {
		.tile {
			.tile-info {
    			margin-top: 27px;
			}

			.tile-img {
			}

			img {
			}
		}

		.visualisation-wrapper {
			width: 100%;

			.tile {
				width: 28.85%;
				margin-left: 15.069%;
				float: left;
				margin-bottom: 0;
			}

			.service-desc {
				width: 22.92%;
				float: left;
				margin-left: 7.01%;
				margin-top: 260px;
    			margin-bottom: 250px;
			    font-size: rem(11);
			    line-height: 1.82;
			}

			.tile-2 {
				float: right;
				margin-right: 15.42%;
				margin-left: 0;
			}

			.tile-3 {
				width: 22.22%;
				margin-left: 21.39%;
    			margin-top: 290px;
    			margin-bottom: 176px;
			}

			.content-1 {
				.mesh-bg {
				    top: -78px;
				    right: -88px;
				    width: 355px;
				    height: 355px;
				}
			}

			.content-2 {
				.mesh-bg {
				    width: 562px;
				    right: auto;
				    bottom: -175px;
				    height: 355px;
				    top: auto;
				}
			}
		}

		.permitting-wrapper {
			.intro-tile {
				width: 34.514%;
				margin-left: 3.056%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 22.64%;
				margin-right: 20.97%;

				.mesh-bg {
					width: 340px;
					height: 320px;
    				top: 113px;
					margin-left: 35.194%;
				}
			}

			.tile-3 {
				width: 22.64%;
				margin-left: 21.04%;
				margin-top: 167px;
				margin-bottom: 315px;
			}
		}

		.team-player-wrapper {
			.intro-tile {
				width: 28.472%;
				margin-left: 9.028%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 26.597%;
				margin-right: 22.778%;
				margin-top: -150px;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: 15px;
				    margin-left: 63.194%;
				}
			}

			.tile-3 {
				width: 34.375%;
				float: right;
				margin-right: 26.944%;
				margin-top: 0;
				margin-bottom: 148px;
			}
		}

		.engineering-wrapper {
			.intro-tile {
				width: resp(697);
				margin-left: 0;

				.tile-inner {
					margin: 0;
					width: 100%;
				}

				.tile-info {
					margin-left: 6.599%;
				}
			}

			.service-desc {
				margin-bottom: 317px;
			}

			.tile-2 {
				width: resp(495);
				margin-right: resp(215);
				margin-top: 0;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 312px;
				    height: 335px;
				    top: -135px;
				    margin-left: 53.094%;
				}
			}

			.tile-3 {
				width: resp(323);
				float: left;
				margin-left: resp(216);
				margin-right: 0;
				margin-top: 162px;
				margin-bottom: 298px;

				.mesh-bg {
				    width: 534px;
				    height: 312px;
				    margin-top: 62%;
				    margin-left: 46.194%;
				}
			}
		}

		.interior-buildouts-wrapper {
			.intro-tile {
				width: calc(495%/1440 * 100);
				margin-left: 9.028%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 26.597%;
				margin-right: 22.778%;
				margin-top: -150px;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: 15px;
				    margin-left: 63.194%;
				}
			}

			.tile-3 {
				width: 34.375%;
				float: right;
				margin-right: 26.944%;
				margin-top: 0;
				margin-bottom: 148px;
			}
		}

		.imagine-experience-wrapper {
			.intro-tile {
				width: calc(330%/1440 * 100);
				margin-left: 9.028%;

				.tile-inner {
					margin: 0;
					width: 100%;
				}
			}

			.service-desc {
				margin-top: 171px;
			}

			.tile-2 {
				width: 26.597%;
				margin-right: 22.778%;
				margin-top: -150px;
				margin-bottom: 219px;

				.mesh-bg {
				    width: 350px;
				    height: 330px;
				    top: 15px;
				    margin-left: 63.194%;
				}
			}

			.tile-3 {
				width: 34.375%;
				float: right;
				margin-right: 26.944%;
				margin-top: 0;
				margin-bottom: 148px;
			}
		}
	}

	.individual-service {
		padding-top: 93px;
	}

	a[href="/case-studies"] {
		width: 263px;
		margin: 0;
		clear: both;
		float: right;
		margin-right: 5.97%;
    	margin-bottom: 16px;
	}
}

/*********************
CONTACT
**********************/
// light footer
.page-contact {
	background: url(../../images/backgrounds/contact-bg-large.jpg);

	form {
		padding-top: 79px;
		width: 81.81%;
		margin: 0 auto 30px calc(calc(130%/1440) *100);

		.pager {
			margin-top: 22px;
			margin-bottom: 19px;
		}

		p {
			width: 54.15%;
			line-height: 1.13;

			&:first-child {
				padding-top: 0;
			}
		}

		input {
			font-size: rem(38);
			line-height: 1.45;
			letter-spacing: 0.37px;
			padding: 14px 0 0 0;
			width: 100%;
			height: auto;
		}

		button {
			margin-top: 38px;
			padding: 13px 26px 11px;
			font-family: 'gridnikregular';
			font-size: rem(13);
			letter-spacing: 1px;
		}
	}

	.add-photo {
		background: #000;

		h3 {
			color: #fff;
			font-size: rem(13);
			letter-spacing: 1px;
			margin-bottom: 38px;
			margin-left: calc(calc(130%/1440) *100);
			text-align: left;
		}

		.photos-wrap {
    		padding-bottom: 37px;
		    width: 238px;
		    margin-left: 5.5%;
		}
	}

	.contact-info {
		padding-top: 100px;
		width: 100%;
		overflow: hidden;
		background: #fff;

		&.no-mobile {
			display: block;
		}

		a, span {
			color: #000000;
		}

		.col {
			text-align: center;
			display: block;
			width: calc(100%/3);
			float: left;
		}
	}

	.footer {
		border-top: dashed 1px #9a9a9a;
		padding: 54px 0 45px 0;

		.contact-info {
			display: none;
		}

		.assembly-logo-icon {
			order: 2;
			margin: 0;
			height: 35px;
			flex: 1;
		}

		.social {
			order: 3;
			padding: 0;
			flex: 1;
			text-align: right;
			margin-right: 3.125%;
		}

		.copyright {
			color: #737373;
			order: 1;
			margin: 0;
			flex: 1;
			text-align: left;
			margin-left: 3.125%;
		}
	}

	.to-top-wrap {
		padding-top: 93px;
	}

	.to-top {
		opacity: 1;
	}
}

/*********************
TO TOP
**********************/
.to-top-wrap {
    display: block;
    background: #fff;
    clear: both;
}

/*********************
Footer
**********************/
.footer {
	padding: 34px 3% 8px;
    display: flex;
    justify-content: space-between;

    .col {
    	width: calc(100%/3);
    }

    .down-carrot {
		width: 19px;
		height: 15px;
	    display: block;
	    margin: 0 auto;
    }

	.col:first-child {
		order: 2;

		a {
			border: none;
			font-size: rem(18);
			padding: 17px 20px 11px;
		}
	}

	.col:nth-child(2) {
		order: 1;
		text-align: left;

		.assembly-logo-icon {
			width: 29px;
			margin: 0 0 17px 0;
		}
	}

	.col:nth-child(3) {
		order: 3;
		text-align: right;
	}

	.copyright {
		line-height: 13px;
		font-size: 10px;
	}

	.social {
		padding-top: 23px;
	}
}