/******************************************************************
Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
MAIN LOGO
**********************/
.logo {
    width: 179px;
}

/*********************
Main Menu BTN
**********************/
.main-menu-btn {
	top: 55px;
    right: 55px;
}

/*********************
Generic Section Styles
**********************/
.section-header {
    padding: 78px 0 0 87px;
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg.dark {
	background-image: url(../../images/svg/mesh-dot-lrg.svg);
}

/*********************
Global Icons
**********************/
.nav-arrow-right {
	height: 15px;
	width: 15px;
    bottom: 5px;
}

/*********************
SOCIAL SPRITE
*********************/
.social {
    li {
    	margin-right: 13px;
    }
}

/*********************
Home Page
**********************/
.home {
	.landing {
		overflow: hidden;
		background-image: url(../../images/backgrounds/landing-bg-lrg.jpg);

		h2 {
			font-size: rem(65);
		}

		.mesh-bg {
			left: 8.9%;
    		top: 19.3%;
		}
	}

	.landing-inner {
		height: 100vh;
		width: 100vw;
		position: relative;
	}

	.company-statement {
		padding-top: 0;
		margin-top: 181px;

		.svg-shape-1 {
			top: 0;
			left: 52%;
			width: 227px;
		}

		p {
			width: 53%;
    		padding-top: 73px;
			letter-spacing: 0.85px;
    		margin: 0 auto 0 24.4%;
		}
	}

	.group-1 {
		margin-top: -255px;
	}

	.group-2 {
    	margin-top: -38px;
	}

	.group-3 {
	    padding-top: 0;
	    margin-top: -417px;

	    .video {
	    	margin-top: 470px;

	    	.video_1-dimensions.vjs-fluid {
	    		padding-top: 76.25%;
	    	}
	    }
	}

	.group-4 {
		margin-top: 112px;
		padding-bottom: 168px;

		.projects-4 {
			margin-left: 0;
			width: 38%;

			.mesh-bg.dark {
			    width: 448px;
			    left: 8px;
			    right: auto;
			    height: 312px;
			}

			.carousel-wrapper {
				    padding-left: 8.14%;
			}
		}

		.projects-5 {
			padding: 0;
    		margin-top: -28px;
		}
	}

	.years-experience {
		.years-experience-numbers {
			pointer-events: none;
			font-size: rem(394);
			line-height: .84;
			right: 160px;
			top: -187px;
		}

		.years-experience-text {
			font-size: rem(16);
		}
	}
}

/*********************
HOME Projects Modules
**********************/
.projects-1 {
	.mesh-bg {
	    width: 688px;
	    height: 510px;
	    left: 12.1%;
	}

	.carousel {
    	padding-top: 89px;
	}
}

.projects-2 {
	.carousel {
    	padding-top: 53px;
	}
}

.home .services {
	.carousel {
		padding-top: 0;
	}
}

.home .approach {
	padding-top: 60px;
}

.home .employees {
	margin-top: 0;

	.nav-arrow-right {
		margin-left: 52%;
		right: auto;
	}

	.carousel {
		padding-top: 0;

		.slide img {
			transform: translate3d(0,0,0);
		}
	}

    .stripes-bg {
    	width: 826px;
	    top: 0;
	    left: -265px;
    }

    .employee-carousel-wrapper {
    	margin-top: 418px;
    }
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	.tile-img {
		margin-bottom: rem(28);
	}

	.tile-desc {
		display: inline-block;
		color: #7D7D7D;
	}
}
/*********************
Footer
**********************/
.footer {
	padding: 34px 3% 8px;
    display: flex;
    justify-content: space-between;

    .col {
    	width: calc(100%/3);
    }

    .down-carrot {
		width: 19px;
		height: 15px;
	    display: block;
	    margin: 0 auto;
    }

	.col:first-child {
		order: 2;

		a {
			border: none;
			font-size: rem(18);
			padding: 17px 20px 11px;
		}
	}

	.col:nth-child(2) {
		order: 1;
		text-align: left;

		.assembly-logo-icon {
			width: 29px;
			margin: 0 0 17px 0;
		}
	}

	.col:nth-child(3) {
		order: 3;
		text-align: right;
	}

	.copyright {
		line-height: 13px;
		font-size: 10px;
	}

	.social {
		padding-top: 23px;
	}
}