/******************************************************************
Stylesheet: 321px and Up Stylesheet

Phones larger than the iPhone 5 321px width
******************************************************************/
.mesh-bg {
	width: 261px;
}

.home {
	.landing {
		h2 {
			font-size: rem(36);
		}
	}
}