/******************************************************************
Stylesheet: 321px and Up Stylesheet

Phones larger than the iPhone 5 321px width
******************************************************************/
.mesh-bg {
	width: 261px;
}

.home {
	.landing {
		h2 {
			font-size: rem(36);
		}
	}

	.years-experience {
		.years-experience-numbers {
			position: absolute;
		    top: 5px;
		    right: -14px;
		    margin-right: 22.9%;
		}

		.years-experience-text {
		    top: 188px;
		    right: -1px;
		}
	}
}

/*********************
ABOUT US Page
**********************/
.page-about-us {
	.intro-years-experience {
		.years-experience-numbers {
			font-size: 190px;
    		line-height: 0.98;
		}

		.years-experience-text {
		    top: 218px;
		    left: 58px;
		    right: auto;
		    font-size: 12px;
		}
	}

	.employees {

		.years-experience {
			.years-experience-text {
				right: -14.8%;
			}
		}
	}
}

/*********************
CONTACT
**********************/
// light footer
.page-contact,
.contact-content {
	.add-photo-overlay {
		p {
			font-size: calc(calc(38px/414)*375);
		}

		.mesh-bg {
			margin-top: 45%;
			width: respmW(262);
			height: calc(calc(338px/414)*320);
			margin: respmW(187) 0 0 respmW(55);
		}

		.add-photo-btn {
			height: 54px;
			width: 54px;
		}
	}
}