/******************************************************************
Stylesheet: 376px and Up Stylesheet

Phones larger than the iPhone 6 375px width
******************************************************************/
body {
	&::before {
		content: 'iphone 6+ and up';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		visibility: hidden;
	}
}
/*********************
GENERIC SVG SHAPES
**********************/
.svg-shape-1 {
	width: 168px;
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg {
	height: 402px;
	width: 282px;
}

.mesh-bg.wide {
    width: 341px;
}

/*********************
VIDEO CONTENT
**********************/
// play btn svg width="58px" height="58px"
.videos {
	padding-bottom: 16%;
}

/*********************
nav
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
    padding-top: 6em;

	li {
		margin-bottom: 1.4em;

	} /* end .menu li */

} /* end .nav */

/*********************
HOME PAGE STYLES
**********************/
.home {
	// Landing Section
	.landing {

		h2 {
			font-size: rem(40);
		    line-height: 2.775rem;
		    top: 49.5%;
			margin: 0 0 0 6.8%;
		}
	}

	.down-arrow {
	    bottom: 35px;
	}

	.company-statement {
		position: relative;
	    padding-top: 148px;
	    padding-bottom: 93px;
	    margin-bottom: 3%;

    	.svg-shape-1 {
    		top: 36%;
    	}

		p {
			font-size: rem(13);
			line-height: rem(23);
		}
	}
}

/*********************
PROJECTS SECTION
- Homepage
**********************/
.projects {
	overflow: auto;
	padding-top: 2.75%;
}

.projects-1 {
	padding-top: 6%;
}

/*********************
SERVICES SECTION
- Homepage
**********************/
.services {
	padding-top: 5.75%;
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	font-size: rem(13);
	letter-spacing: 1.3px;
	margin-bottom: 21%;

	.tile-img {
    	margin-bottom: 1.0375rem;
    }
}

/*********************
PRODUCTS Tile(s)
**********************/
.products {
	&.two {
		.tile {
			margin-bottom: 15.4%;
		}
	}
}

/*********************
EMPLOYEES
**********************/
.employees {
	overflow: auto;
	padding-bottom: 14%;

	.diagonals {
		background: url(../../images/backgrounds/diagonal-lines-bg.png);
	    height: 415px;
	    width: 371px;
	    position: absolute;
	    top: 5%;
	    left: 5%;
	}
}

.employee {
	.employee-img {
		padding-top: 9.125rem;
		padding-bottom: 9%;
	}

	.employee-name,
	.employee-title {
		font-size: rem(13);
	}

	.years-experience {
		.num {
			font-size: 13.375rem;
			line-height: 10.4rem;
		}

		.text {
			font-size: rem(12);
			transform: rotate(-90deg) translate(94%,372%);
		}
	}
}

/*********************
SERVICES Page
**********************/
.page-services {
	h1 {
		font-size: rem(32);
		margin: 24% auto 11%;
		width: 77%;
	}

	.filter-wrap {
		margin-bottom: 11%;
	}

	select {
		margin-bottom: 0;
	}

	section {

	}

	.mesh-bg {
		top: 0;
		margin-top: 20%;
		width: 85%;
		height: 60%;
		z-index: -1;
	}

	.tile {
		margin: 0 0 19% 0;
		float: none;
		width: auto;

		.tile-img {
			margin-bottom: 3.6%;
		}
	}

	.service-desc {
		width: 77%;
		margin: 0 auto 24%;
		font-size: rem(13);
		line-height: 1.76;
	}

	.individual-service {
		display: none;
	}

	.content.dynamic {
		.intro-tile {
			margin-left: 17%;
		}

		.wide-1 img,
		.tall-1 img  {
			width: 78%;
		}

		.left img {
			margin-left: 9%;
		}

		.right img {
			margin-left: 13.7%;
		}

		.content-tile {
			margin-bottom: 30%;
		}

		.permitting-wrapper,
		.team-player-wrapper,
		.engineering-wrapper,
		.interior-buildouts-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-inner {
					margin-left: 11.3%;
					width: 78%;

					img {
						width: 100%;
					}
				}
			}
		}
		.team-player-wrapper,
		.imagine-experience-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-inner {
					margin-left: 14.25%;
					width: 68%;
				}
			}
		}
	}
}

// NON DYNAMIC. NEEDS TO BE UPDATED
.tile.visualisation {
	margin-left: 17%;
}

.tile.permitting {
	margin-left: 13.5%;
}

.tile.engineering {
	margin-left: 9%;
}

.tile.interior-buildouts {
	margin-left: 18%;

	.mesh-bg {
		top: -186px;
		right: 4px;
		left: auto;
		height: 429px;
		width: 283px;
	}
}

.tile.team-player {
	margin-left: 7.7%;
}

.tile.imagine-experience {
	margin-left: 15.4%;

	.mesh-bg {
		right: auto;
		left: -49px;
		height: 449px;
		width: 243px;
		margin: 0;
		top: 147px;
	}
}

/*********************
CONTACT
**********************/
.page-contact {
	background: url(../../images/backgrounds/contact-bg.jpg);

	form {

		p {
			font-size: rem(38);
			line-height: rem(43);
			width: 90%;
		}

		.pager {
			margin-top: 20px;
		}
	}
}