/******************************************************************
Stylesheet: 376px and Up Stylesheet

Phones larger than the iPhone 6 375px width
******************************************************************/
$screenWidth: 414;
$multiplier: 0.75;

body {
	&::before {
		content: 'iphone 6+ and up';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		visibility: hidden;
	}
}
/*********************
GENERIC SVG SHAPES
**********************/
.svg-shape-1 {
	width: 168px;
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg {
	height: 402px;
	width: 282px;
}

.mesh-bg.wide {
    width: 341px;
}

/*********************
HEADER STYLES
*********************/
.logo {
    margin-top: calc(7px);
    margin-left: calc(7px);
}

.main-menu-btn {
    margin-top: 25px;
    margin-right: 20px;
}


/*********************
VIDEO CONTENT
**********************/
// play btn svg width="58px" height="58px"
.videos {
	padding-bottom: 16%;
}

/*********************
nav
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {

	li {

		a {
			font-size: 37px;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

	} /* end .menu li */

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}

} /* end .nav */

/*********************
Years Experience Module
**********************/
.years-experience {
	.years-experience-numbers {
		font-size: rem(215);
	}

	.years-experience-text {
		font-size: rem(12);
	}
}

/*********************
HOME PAGE STYLES
**********************/
.home {
	// Landing Section
	.landing {

		h2 {
			font-size: rem(40);
		    line-height: 2.775rem;
		    top: 49.5%;
			margin: 0 0 0 6.8%;
		}
	}

	.down-arrow {
	    bottom: 35px;
	}

	.company-statement {

    	.svg-shape-1 {

    	}

		p {
			font-size: rem(13);
			line-height: rem(23);
		}
	}

	.approach {
		padding-top: 30px;
	}

	.video.module {
		margin-top: 65px;
		margin-bottom: 71px;
	}
}

/*********************
PROJECTS SECTION
- Homepage
**********************/
.projects {
	overflow: auto;
	padding-top: 30px;
}

.projects-1 {
	padding-top: 6%;
}

/*********************
SERVICES SECTION
- Homepage
**********************/
.services {
	padding-top: 7.15%;
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	font-size: rem(13);
	letter-spacing: 1.3px;
	margin-bottom: 21%;

	.tile-img {
    	margin-bottom: 1.0375rem;
    }
}

/*********************
PRODUCTS Tile(s)
**********************/
.products {
	&.two {
		.tile {
			margin-bottom: 15.4%;
		}
	}
}

/*********************
EMPLOYEES
**********************/
.employees {
	overflow: auto;
	padding-bottom: 29%;

	.diagonals {
		background: url(../../images/backgrounds/diagonal-lines-bg.png);
	    height: 415px;
	    width: 371px;
	    position: absolute;
	    top: 5%;
	    left: 5%;
	}
}

.employee {
	.employee-img {
		padding-top: 9.125rem;
		padding-bottom: 9%;
	}

	.employee-name,
	.employee-title {
		font-size: rem(13);
	}

	.years-experience {
		.num {
			font-size: 13.375rem;
			line-height: 10.4rem;
		}

		.text {
			font-size: rem(12);
			transform: rotate(-90deg) translate(94%,372%);
		}
	}
}

/*********************
SERVICES Page
**********************/
.page-services {

}

.tile.imagine-experience {
	.mesh-bg {
		height: resppx(430, 414, $screenWidth);
		width: resppx(225, 414, $screenWidth);
	}
}

/*********************
CASE STUDIES Page
**********************/
.page-case-studies {
	.landing {
		h3 {
			top: calc(43% - 10px);
			font-size: rem(62);
			letter-spacing: -5px;
		}

		.custom {
			h3 {
				left: 15.5%;
				letter-spacing: -4px;
			}
		}

		.white-square {

		}
	}

	p {
		font-size: rem(13);
		line-height: 1.77;
		letter-spacing: 1.08px;
	}
}

/*********************
ABOUT US Page
**********************/
.page-about-us {
	.landing {
		& + .mesh-bg {
		    width: 80.7%;
		    top: 0;
		    left: auto;
		    right: 0%;
		    margin-top: 27%;
		    height: 435px;
		}
	}

	.section-header {
		font-size: rem(42);
		line-height: 1.74;
	}

	.callout {
		width: 65.63%;
		margin-bottom: 19.1%;

		h3 {
			font-size: rem(16);
			letter-spacing: calc(1px/4);
		}

		p {
			line-height: 1.55;
			letter-spacing: 1px;
		}
	}

	.video {
    	margin: 0 0 45.5% 28.74%;

    	img {
    		width: 100%;
    	}
	}

	.years-experience {
		top: 45px;
		left: -60px;

		.years-experience-text {
		    top: 258px;
		    left: 69px;
		}
	}

	.projects {
		.carousel {
			.tile-inner {
				padding: 0 18% 0 11%;
			}
		}
	}

	.employees {
		.years-experience {
    		top: -15px;
    		left: -21.53%;

    		.years-experience-text {
				top: 231px;
				right: -23.8%;
			}
		}
	}

	.our-approach {
		.copy {
			p {
				font-size: rem(13);
				line-height: calc(23/13);
			}
		}

		.slide-number {
			font-size: rem(136);
		}
	}

	.inner-callout {
		width: 64.5%;
		margin-top: 10.45%;
    	margin-bottom: 9.9%;

		p {
			font-size: rem(13);
			line-height: 1.77;
			letter-spacing: 1.08px;
		}
	}
}

/*********************
CONTACT
**********************/
.page-contact {
	.add-photo-overlay {
		p {
			font-size: rem(38);
		}

		.add-photo-btn {
			height: 60px;
			width: 60px;
		}
	}

	form {

		p {
			font-size: rem(38);
			line-height: rem(43);
			width: 90%;
		}

		.pager {
			margin-top: 20px;
		}
	}
}