/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

.m-only {
	display: none;
}

.tablet {
	display: block;
}

.loader-wrap .loading-copy {
	font-size: 19px;
}

/*********************
Years Experience Module
**********************/
.years-experience {
	.years-experience-numbers {
	    top: -40px;
	}

	.years-experience-text {
		top: 245px;
    	right: -17px;
	}
}

/*********************
nav
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
    padding-top: calc(195%/1440*100);
}

.menu-inner {
	background-size: 52%;
}

/*********************
CAROUSEL MODULES
**********************/
.carousel {
	.slick-slide {
		transform: translate3d(0,0,0);
	}
	.tile-inner {
		padding: 0;

		.tile-title {
			font-size: rem(12);
		}

		.tile-desc {

		}
	}
}

/*********************
VIDEO CONTENT
**********************/
.video.module {
	margin: 0;
	clear: left;
	float: left;
	width: 55.3%;
}

/*********************
HOME PAGE STYLES
**********************/

.home {
	.main-content {
		padding: 0;
	}

	.nav-arrow-right {
		display: block;
	}

	.landing {
		.landing-bg {
			background-image: url(../../images/backgrounds/landing-bg-lrg.jpg);
			background-size: 100%;
		}

		h2 {
			font-size: rem(60);
			line-height: 1.16;
			margin: 0 0 0 20%;
		}
	}

	.company-statement {
		width: 55%;
		float: right;

		.svg-shape-1 {

		}

		p {
			font-size: rem(11);
		}
	}

	.group {
		width: 100%;
		overflow: hidden;
		padding-top: 80px;
	}

	.group-1 {
		position: relative;
		margin-top: -200px;
	}

	.group-2 {
	    margin-bottom: 65px;
	    padding-bottom: 50px;
	}

	.group-3 {
	    overflow: hidden;
	    padding-top: 240px;
	    margin-top: -240px;
	}

	.group-4 {
		margin-top: -60px;
		padding-bottom: 60px;

		.projects {
			display: inline-block;
		}
	}

	.years-experience .years-experience-numbers {
		right: 43px;
	}
}

/*********************
PROJECTS SECTION
- Homepage
**********************/
.projects-1, .projects-4 {
	width: 34%;
	float: left;
}

.projects-1 {
	margin-left: 3.13%;
	padding-top: 2%;
	overflow: visible;

	.mesh-bg {
		width: 310px;
		left: 10%;
		height: 300px;
	}
}

.projects-4 {
	margin-left: 3.15%;
}

.projects-2, .projects-5 {
	width: 53%;
	float: right;
}

.projects-2 {
	margin-right: 3.13%;
	padding-top: 12%;
}

.projects-5 {
	width: 28.96%;
	margin-right: 14.6%;
}

.approach {
	width: 35%;
	float: right;
	margin-right: 27.1%;
	z-index: 1;
}

.employees {
	width: 40%;
	float: right;
	background: transparent;
	overflow: visible;
	margin-top: -150px;

	.stripes-bg {
		display: block;
	    position: absolute;
	    top: -170px;
	    left: -255px;
	    width: 570px;

	    img {
	    	width: 100%;
	    }
	}
}

/*********************
SERVICES SECTION
- Homepage
**********************/
.services {
	padding: 0;
	clear: left;
    float: left;
    width: 17.1%;
    margin-left: 9.03%;
}

/*********************
About Us Page
**********************/
.page-about-us {
    padding-top: 125px;

	.video.module {
		margin: 0 0 13.5% 28.74%;
		clear: none;
		float: none;
		width: 64.98%;
	}

	.scroll-overlay {
		padding-bottom: 20px;
	}
}

/*********************
SERVICES Page
**********************/
.page-services {

	.section-header {
		overflow: hidden;
		font-size: rem(72);
    	margin: 152px 0 5% 8.43%;
		width: auto;
		letter-spacing: 1.7px;
	}

	.mesh-bg {
		top: 0;
		width: 53.96%;
		height: 316px;
		margin-top: 137px;
		margin-left: 13.194%;
	}

	.filter-wrap {
		width: 82%;
	}

	.filter-menu {
		position: absolute;
		right: 0;
		top: 168px;
		margin-right: 10.42%;

		div {
			a {
				letter-spacing: 0.7px;
			}
		}
	}

	.tile {
		width: 28.54%;

		.tile-inner {
			width: 100%;
			margin: 0;

			img {
				width: 100%;
			}
		}

		&.visualisation {
			width: calc(410%/1440*100);
			margin-left: calc(217%/1440*100);
    		margin-top: 94px;
    		margin-bottom: 129px;
    		float: left;
		}

		&.permitting {
			width: 22.64%;
			float: right;
    		margin: 288px 14.86% 0 0;
		}

		&.engineering {
    		width: 48.4%;
		    clear: left;
		    float: left;
		    margin-bottom: 0;
		    margin-left: 0;
		}

		&.interior-buildouts {
			float: right;
			width: 32.85%;
			margin-right: 10.63%;
			margin-top: 124px;
			margin-bottom: 0;
			margin-left: 0;
			clear: right;

			.mesh-bg {
				top: -168px;
    			right: -107px;
    			width: 335px;
    			height: 314px;
			}
		}

		&.team-player {
			float: right;
			clear: both;
			margin-right: 9.38%;
			margin-top: 165px;
			margin-bottom: 0;
		}

		&.imagine-experience {
			float: left;
			margin-left: 15.07%;
			margin-bottom: 148px;

			.mesh-bg {
			    left: -96px;
			    height: 534px;
			    width: 315px;
			    top: 244px;
			}
		}
	}

	.content {
		clear: both;

		.tile {
			.tile-info {
    			margin-top: 25px;
			}

			.tile-img {
				margin-bottom: 0;
			}

			img {
				width: 100%;
				margin: 0;
			}
		}

		.visualisation-wrapper {
			width: 100%;

			.tile {
				margin-bottom: 0;

				&.right {
					float: right;
					margin-right: 15.42%;
					margin-top: 8px;
				}
			}

			.intro-tile {
				width: calc(410%/1440*100);
				margin-left: calc(217%/1440*100);
				float: left;
				margin-bottom: 0;
			}

			.service-desc {
				width: 42.92%;
				float: left;
				margin-left: 7.01%;
				margin-top: 120px;
    			margin-bottom: 140px;
			    font-size: rem(11);
			    line-height: 1.82;
			}

			.tile-2 {
				float: right;
				margin-right: 15.42%;
				margin-left: 0;
			}

			.tile-3 {
				width: 22.22%;
				margin-left: 21.39%;
    			margin-top: 290px;
    			margin-bottom: 176px;
			}

			.content-1 {
				.mesh-bg {
					top: 2px;
				    right: -58px;
				    width: 205px;
				    height: 165px;
				    margin-top: 40px;
				}
			}

			.content-2 {
				width: 22.22%;
				clear: right;
				margin-top: 19px;
    			padding-bottom: 40px;
				margin-left: 15.069%;

				.mesh-bg {
				    width: 342px;
				    right: auto;
				    bottom: -95px;
				    height: 205px;
				    top: auto;
				}
			}
		}
	}

	.tile.engineering {
		.tile-info {
			margin-left: 20px;
		}
	}

	a[href="/case-studies"] {
		width: 263px;
		margin: 0;
		clear: both;
		float: right;
		margin-right: 5.97%;
    	margin-bottom: 16px;
    	margin-top: 50px;
	}
}

/*********************
CASE STUDIES Page
**********************/
.page-case-studies {
	header.scroll-overlay {
		position: absolute;
		background: rgba(255,255,255,0.8);
		transform: translate3d(0,0,0);
		transition: transform 0.5s linear;

		&.fixme {
			position: fixed;

			&.going-down {
				transform: translate3d(0,-100%,0);
			}
		}
	}

	header.scroll-overlay h1 {
		margin-left: calc(67%/1440*100);
	}

	.filter-wrap {
		padding: 16px 33px 20px 17px;
		background: rgba(255,255,255,0.8);
	}

	.landing {
		.square {
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;

			@at-root {
				.loaded .page-case-studies .square {
					width: calc((410%/720) *100);
					height: calc((294%/720) *100);
					top: calc((238%/720) *100);
					left: calc((264%/720) *100);
				}
			}

			p {
				font-size: 13px;
				display: block;
			    top: 76.5%;
				bottom: auto;
				right: auto;
				left: 56%;

			}
		}

		.hover-content {
			.square {
				p {
					color: #fff;
				}
			}
		}
	}

	.content {
		.content-header {
			padding-bottom: 0;

			span:nth-child(3){
			    font-size: rem(13);
			    font-family: 'gridnikregular';
			    margin-top: 10px;
			}
		}

		h2 {
			font-size: rem(72);
			line-height: 1.043;
		    margin: 0;
		    padding-top: 185px;
		    padding-left: 121px;
		    width: 100%;
		}

		.svg-container {
			svg {
				width: resp(1160);
				margin: 0 auto;
				display: block;
			}
		}

		.case-study-details {
			.group {
				display: block;
				float: left;
				width: 100%;
			}
		}

		.case-study-desc {
			width: 60%;
			margin: 0 auto 50px 90px;
		}

		blockquote {
		    width: 22.64%;
		    float: right;
		    clear: right;
		    margin: 72px 26.74% 0 0;

			strong {
				font-family: 'gridnikregular';
				font-size: rem(13);
				line-height: 2.77;
				text-transform: capitalize;
				font-weight: normal;
				color: #221F20;
				letter-spacing: 1px;
			}

			p {
				font-size: rem(11);
				margin-top: 0;
				line-height: 1.81;
			}
		}
	}

	[data-kit-type="custom"] .tile {
		width: 34.58%;
		margin-bottom: 18.81%;

		.tile-img {
			img {
				width: 100%;
			}
		}

		&.tile-2 {
			width: calc(410%/1440*100);
		}

		&.tile-3 {
			width: calc(370%/1440*100);
		}

		&.tile-6 {
			width: 22.43%;
		}

		&.tile-4 {
			width: 25.69%;
		}

		&.tile-5,
		&.tile-7 {
			width: 28.54%;
		}

		&.tile-2 {
		    margin: 155px 15.07% 0 0;
		    float: right;
		}

		&.tile-3 {
			margin: -27px 0 0 9.03%;
			clear: left;
		}

		&.tile-4 {
			float: right;
			margin: 2.57% 23.68% 0 0;
		}

		&.tile-5 {
		    margin: 0 0 0 14.93%;
    		padding-top: 27%;
		    float: left;
		}

		&.tile-6 {
		    float: right;
		    clear: both;
		    margin: -8.5% 9.028% 0 0;
		}

		&.tile-7 {
		    margin: 14.4% 0 0 calc(302%/1440*100);
		}

		&.tile-8 {
		    float: right;
		    margin-right: calc(130%/1440*100);
		    width: calc(410%/1440*100);
		    clear: left;
    		margin-bottom: 0;
		}
	}


	[data-kit-type="modular"] blockquote {
		width: calc(325%/1440*100);
		clear: none;
		float: left;
		margin: 0 0 0 calc(99%/1440*100);
	}

	[data-kit-type="modular"] .tile {
		width: 34.58%;
		margin-bottom: 18.81%;

		.case-study-desc {

		}

		.tile-img {
			img {
				width: 100%;
			}
		}

		&.tile-1 {
			margin-top: 170px;
			margin-left: calc(215%/1440*100);
			margin-bottom: 140px;
		}

		&.tile-2 {
			width: calc(410%/1440*100);
		}

		&.tile-3 {
			margin: 0 0 0 calc(48%/1440*100);
			clear: left;
			width: calc(325%/1440*100);
		}

		&.tile-4 {
			float: left;
			width: 25.69%;
    		margin: -210px 0 0 calc(100%/1440*100);
		}

		&.tile-6 {
			width: calc(445%/1440*100);
		    float: right;
		    clear: both;
		    margin: -8.5% 9.028% 0 0;
		}

		&.tile-5 {
		    margin: 0 0 0 14.93%;
		    padding-top: 120px;
		    float: left;
		}

		&.tile-5,
		&.tile-7 {
			width: 28.54%;
		}

		&.tile-2 {
		    margin: 0 15.07% 0 0;
		    float: right;
		}


		&.tile-7 {
		    margin: 20px 0 0 calc(302%/1440*100);
		    clear: both;
		}

		&.tile-8 {
		    float: right;
		    margin-right: calc(130%/1440*100);
		    width: calc(410%/1440*100);
		    clear: left;
    		margin-bottom: 0;
		}
	}

	a.view-case-study {
	    float: right;
	    width: auto;
    	margin-right: calc(84%/1440*100);
    	margin-top: 110px;
	}
}

/*********************
Contact Page
**********************/
#contact-map {
	height: 700px;
}

/*********************
To Top BTN
**********************/
.to-top {
	display: block;
	padding-bottom: 15px;
}

/*********************
Footer
**********************/
.footer {
	a[href*="contact"]{
		margin-top: 22px;
	}
}