/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

.m-only {
	display: none;
}

/*********************
Years Experience Module
**********************/
.years-experience {
	.years-experience-numbers {
	    top: -40px;
	}

	.years-experience-text {
		top: 245px;
    	right: -17px;
	}
}

/*********************
MENU & NAVIGATION STYLES
*********************/
.main-menu-btn {
	position: absolute;
    top: 35px;
    right: 37px;
	height: 61px;
	width: 61px;
	max-width: none;

	&:after {
		pointer-events: none;
	}

	svg {
		display: block;
	}

	.menu-rectangle {
		opacity: 0;
		transition: opacity 0.5s 1s;
	}

	.menu-letter {
		opacity: 0;
		transition: opacity 1s;
	}

	.letter-n {
		transform: translate3d(9px, -17px, 0);
	}

	.letter-u {
		transform: translate3d(9px, -34px, 0);
	}

	&.animate {
		.menu-rectangle {
			opacity: 1;
		}

		.menu-letter {
			opacity: 1;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-delay: 0.7s;
		}

		.letter-n {
			animation-name: moveMenuLetterN;
		}

		.letter-u  {
			animation-name: moveMenuLetterU;
		}
	}
}

@keyframes moveMenuLetterN {
	50% {
		transform: translate3d(9px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveMenuLetterU {
	50% {
		transform: translate3d(9px, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/*********************
CAROUSEL MODULES
**********************/
.carousel {
	.slick-slide {
		transform: translate3d(0,0,0);
	}
	.tile-inner {
		padding: 0;

		.tile-title {
			font-size: rem(12);
		}

		.tile-desc {

		}
	}
}

/*********************
VIDEO CONTENT
**********************/
.video.module {
	margin: 0;
	clear: left;
	float: left;
	width: 55.3%;
}

/*********************
HOME PAGE STYLES
**********************/

.home {
	.nav-arrow-right {
		display: block;
	}

	.landing {
		background-image: url(../../images/backgrounds/landing-bg.jpg);
		background-size: 100%;

		.mesh-bg {
			left: 11%;
			top: 28.1%;
		    height: 508px;
		    width: 354px;
		}

		h2 {
			font-size: rem(60);
			line-height: 1.16;
			margin: 0 0 0 20%;
		}
	}

	.company-statement {
		padding-top: 125px;
		width: 55%;
		float: right;

		.svg-shape-1 {
			top: 28%;
		}

		p {
			font-size: rem(11);
		}
	}

	.group {
		width: 100%;
		overflow: hidden;
	}

	.group-1 {
		position: relative;
		margin-top: -200px;
	}

	.group-2 {
		margin-bottom: 55px;
	}

	.group-3 {
	    overflow: hidden;
	    padding-top: 240px;
	    margin-top: -240px;
	}

	.group-4 {
		margin-top: -60px;
		padding-bottom: 60px;

		.projects {
			display: inline-block;
		}
	}

	.years-experience .years-experience-numbers {
		right: 43px;
	}
}

/*********************
PROJECTS SECTION
- Homepage
**********************/
.projects-1, .projects-4 {
	width: 34%;
	float: left;
}

.projects-1 {
	margin-left: 3.13%;
	padding-top: 2%;
	overflow: visible;

	.mesh-bg {
		width: 310px;
		left: 10%;
		height: 300px;
	}
}

.projects-4 {
	margin-left: 3.15%;
}

.projects-2, .projects-5 {
	width: 53%;
	float: right;
}

.projects-2 {
	margin-right: 3.13%;
	padding-top: 12%;
}

.projects-5 {
	width: 28.96%;
	margin-right: 14.6%;
}

.approach {
	width: 35%;
	float: right;
	margin-right: 27.1%;
	z-index: 1;
}

.employees {
	width: 40%;
	float: right;
	background: transparent;
	overflow: visible;
	margin-top: -150px;

	.stripes-bg {
		display: block;
	    position: absolute;
	    top: -170px;
	    left: -255px;
	    width: 570px;

	    img {
	    	width: 100%;
	    }
	}
}

/*********************
SERVICES SECTION
- Homepage
**********************/
.services {
	padding: 0;
	clear: left;
    float: left;
    width: 17.1%;
    margin-left: 9.03%;
}

/*********************
SERVICES Page
**********************/
.page-services {

	h1 {
		font-size: rem(72);
    	margin: 122px 0 0 8.43%;
		width: auto;
	}

	.mesh-bg {
		top: 0;
		width: 53.96%;
		height: 316px;
		margin-top: 15%;
		margin-left: 13.194%;
	}

	.filter-menu {
		position: absolute;
		right: 0;
		top: 168px;
		margin-right: 10.42%;

		div {
			a {
				letter-spacing: 0.7px;
			}
		}
	}

	.tile {
		width: 28.54%;

		.tile-inner {
			width: 100%;
			margin: 0;

			img {
				width: 100%;
			}
		}

		&.visualisation {
			margin-left: 15.07%;
    		margin-top: 94px;
    		margin-bottom: 129px;
    		float: left;
		}

		&.permitting {
			width: 22.64%;
			float: right;
    		margin: 288px 14.86% 0 0;
		}

		&.engineering {
    		width: 48.4%;
		    clear: left;
		    float: left;
		    margin-bottom: 0;
		}

		&.interior-buildouts {
			float: right;
			width: 32.85%;
			margin-right: 10.63%;
			margin-top: 124px;
			margin-bottom: 0;
			clear: right;

			.mesh-bg {
				top: -168px;
    			right: -107px;
    			width: 335px;
    			height: 314px;
			}
		}

		&.team-player {
			float: right;
			clear: both;
			margin-right: 9.38%;
			margin-top: 165px;
			margin-bottom: 0;
		}

		&.imagine-experience {
			float: left;
			margin-left: 15.07%;
			margin-bottom: 148px;

			.mesh-bg {
			    left: -96px;
			    height: 534px;
			    width: 315px;
			    top: 244px;
			}
		}
	}

	.content.dynamic {
		clear: both;

		.tile {
			.tile-info {
    			margin-top: 25px;
			}

			.tile-img {
				margin-bottom: 0;
			}

			img {
				width: 100%;
				margin: 0;
			}
		}

		.visualisation-wrapper {
			width: 100%;

			.tile {
				width: 28.85%;
				margin-left: 15.069%;
				float: left;
				margin-bottom: 0;
			}

			.service-desc {
				width: 22.92%;
				float: left;
				margin-left: 7.01%;
				margin-top: 120px;
    			margin-bottom: 140px;
			    font-size: rem(11);
			    line-height: 1.82;
			}

			.tile-2 {
				float: right;
				margin-right: 15.42%;
				margin-left: 0;
			}

			.tile-3 {
				width: 22.22%;
				margin-left: 21.39%;
    			margin-top: 290px;
    			margin-bottom: 176px;
			}

			.content-1 {
				.mesh-bg {
				    top: 2px;
				    right: -88px;
				    width: 285px;
				    height: 205px;
				}
			}

			.content-2 {
				.mesh-bg {
				    width: 342px;
				    right: auto;
				    bottom: -95px;
				    height: 205px;
				    top: auto;
				}
			}
		}
	}

	.content.dynamic {
		clear: both;

		.tile {
			.tile-info {
    			margin-top: 20px;
			}

			.tile-img {
				margin-bottom: 0;
			}

			img {
				width: 100%;
				margin: 0;
			}
		}

		.individual-service {
			.service-desc {
				width: 22.92%;
				float: left;
				margin-left: 7.01%;
				margin-top: 260px;
    			margin-bottom: 227px;
			    font-size: rem(11);
			    line-height: 1.82;
			}

			.intro-tile {
				float: left;
			}

			.tile-1 {
				margin-bottom: 0;
			}

			.tile-2 {
				float: right;
				clear: left;
			}

			.tile-3 {
				float: left;
			}
		}

		.visualisation-wrapper {
			width: 100%;

			.tile {
				width: 28.85%;
				margin-left: 15.069%;
				float: left;
				margin-bottom: 0;
			}

			.tile-2 {
				float: right;
				margin-right: 15.42%;
				margin-left: 0;
			}

			.tile-3 {
				width: 22.22%;
				margin-left: 21.39%;
    			margin-top: 290px;
    			margin-bottom: 176px;
			}

			.content-1 {
				.mesh-bg {
				    top: -78px;
				    right: -88px;
				    width: 355px;
				    height: 355px;
				}
			}

			.content-2 {
				.mesh-bg {
				    width: 562px;
				    right: auto;
				    bottom: -175px;
				    height: 355px;
				    top: auto;
				}
			}
		}
	}

	a[href="/case-studies"] {
		width: 263px;
		margin: 0;
		clear: both;
		float: right;
		margin-right: 5.97%;
    	margin-bottom: 16px;
	}
}

/*********************
To Top BTN
**********************/
.to-top {
	display: block;
	padding-bottom: 15px;
}