/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
// import mixins
@import "../partials/test_styles";


/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $copy-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
SOCIAL SPRITE
*********************/
.social {
    overflow: auto;

    li {
        display: block;
        float: left;
        margin: 0 10px 0 0;
        padding: 0;

        &.instaram {
            a { background-position: 0 0; }
        }
        &.twitter {
            a { background-position: -29px 0; }
        }
        &.linkedin {
            a { background-position: -58px 0; }
        }
    }
    a {
        display: block;
        height: 24px;
        width: 24px;
        background: url(../../images/icons/social-sprite.png);
        background-size: cover;
    }
}

/*********************
BASIC ELEMENT STYLES
**********************/

p {
	font-size: rem(11);
	line-height: rem(19);
	font-family: 'roboto_monoregular';
}

blockquote {

}

/*********************
LAYOUT & GRID STYLES
*********************/
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	transition: color 1.5s;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: 'pangrambold';
	text-rendering: optimizelegibility;
	color: $black;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
NAVIGATION STYLES
*********************/
nav {
	display: none;
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg {
	height: 352px;
	width: 236px;
	background: url(../../images/backgrounds/dot-mesh-bg.png);
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

.section-header {
	padding: 5% 6% 0 6%;
}

#logo {
	font-size: 0px;
	margin: 0;

	a {
		color: $white;
	}

	.svg-logo {
		width: 118px;
		height: 22px;
		display: inline-block;
		vertical-align: middle;
	}

	span {
		font-size: 33px;
		display: inline-block;
		vertical-align: middle;
	}
}

.menu-icon {
	float: right;
	margin-top: -20px;
}

.logo-svg-icon {
	height: 32px;
	width: 179px;
}

/*********************
GENERIC SVG SHAPES
**********************/
.svg-shape-1 {
	width: 200px;
}

/*********************
HOME PAGE STYLES
**********************/

.home {
	section {
		min-height: 100vh;
		background: #fff;
	}
	// Landing Section
	.landing {
		width: 100%;
		height: 100vh;
		background-image: url(../../images/backgrounds/landing-bg-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $black;

		.mesh-bg {
		    margin-left: 2%;
		    margin-top: 25%;
		}

		h2 {
			color: #fff;
			font-size: 2.063em;
			line-height: 1.175em;
			margin: 0 0 0 8%;
		    position: absolute;
		    top: 50%;
		    transform: translate(0, -50%);
		}
	}

	.down-arrow {
	    width: 13px;
	    position: absolute;
	    bottom: 25px;
	    left: 50%;
	    transform: translate(-50%,0);
	}

	#company-statement {
		position: relative;
		padding-top: 60px;

		.svg-shape-1 {
		    position: absolute;
		    left: 50%;
		    transform: translate(-50%, 0);
		}

		p {
		    position: relative;
		    z-index: 1;
		    width: 78%;
		    margin: 25px auto 0;
		}
	}

}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	height: 160px;
	padding: 34px 3% 0;

	p {
		margin: 0;
	}
}