/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
// import mixins
@import "../partials/test_styles";
$screenWidth: 320;

.no-mobile {
	display: none;
}


/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $copy-color;
	background-color: #000;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	&::before {
		content: '320px and up';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		visibility: hidden;
	}
}

a, a:hover, a:active, a:focus {
   outline: 0;
}

/*********************
SOCIAL SPRITE
*********************/
.social {
    overflow: auto;
    margin: 0;

    li {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 0;

        &:last-child {
        	margin-right: 0;
        }

        &.instaram {
            a { background-position: 0 0; }
        }
        &.twitter {
            a { background-position: -29px 0; }
        }
        &.linkedin {
            a { background-position: -58px 0; }
        }
    }

    a {
        display: block;
        height: 24px;
        width: 24px;
        background: url(../../images/icons/social-sprite-light.png);
        background-size: cover;
    }

    &.dark {
    	a {
    		background-image: url(../../images/icons/social-sprite-dark.png);
    	}
    }
}

/*********************
BASIC ELEMENT STYLES
**********************/

img {
	display: block;
}

p {
	font-size: rem(11);
	line-height: rem(19);
	font-family: 'roboto_monoregular';
	letter-spacing: 0.92px;
}

blockquote {

}

/*********************
Global Icons
**********************/
.nav-arrow-right {
	stroke: #808080;
	height: 10px;
	width: 11px;
    position: absolute;
    right: 0;
    bottom: 7px;
    cursor: pointer;
    transition: opacity 0.5s;
    display: none;
}

/*********************
LAYOUT & GRID STYLES
*********************/
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	transition: color 1.5s;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-weight: normal;
	font-family: 'pangrambold';
	text-rendering: optimizelegibility;
	color: $black;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
BUTTONS
**********************/
button,
.button {
	background: $teal;
	color: #fff;
	font-size: rem(12);
	text-transform: uppercase;
	border: none;
	padding: 16px 46px 15px;
	display: inline-block;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&.dark {
		background: transparent;
		border: solid 1px #fff;
	}
}

/*********************
MENU & NAVIGATION STYLES
*********************/
.main-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.menu-bg {
    background: #000;
    position: absolute;
	top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    opacity: 0;
}

/*********************
nav
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;
    padding-top: 4em;
    padding-left: 2.1em;
    position: relative;
    pointer-events: none;

	li {
		margin-bottom: 0.6em;
		transition: opacity 1s;
		opacity: 0;
		transform: translate3d(0,10px,0);

		a {
			font-size: rem(20);
			text-transform: lowercase;
			font-family: 'pangrambold';
			display: block;
			color: $white;
			text-decoration: none;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.menu-open {
	.main-menu, .nav {
		pointer-events: all;
	}

	.menu-bg {
		opacity: 1;
	    animation: showMenuBg;
	    animation-duration: 0.75s;
	    animation-fill-mode: forwards;
	}

	li.show-nav-item {
		animation: showmenuitems;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
}

.close-menu {
	.main-menu {
		pointer-events: none;
	    animation: hideMainMenu;
	    animation-duration: 0.75s;
	    animation-fill-mode: forwards;
	}

	.menu-bg {
	    animation: hideMenuBg;
	    animation-duration: 0.75s;
	    animation-fill-mode: forwards;
	}
}

@keyframes hideMainMenu {
	100% {

	}
}

@keyframes showMenuBg {
	0% {
		opacity: 1;
	}
	100% {
		right: 0;
		top: 0;
		height: 100vh;
		width: 100%;
	}
}

@keyframes hideMenuBg {
	0% {
		opacity: 1;
		right: 0;
		top: 0;
		height: 100vh;
		width: 100%;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.3;
	}

	100% {
		opacity: 0;
		top: 10px;
		right: 10px;
		height: 30px;
		width: 30px;
	}
}

@keyframes showmenuitems {
  100% {
	opacity: 1;
	transform: translate3d(0,0,0);
  }
}

/*********************
CAROUSEL MODULES
**********************/
// .carosuel-module[data-image-ratio="1to1"] {
// 	min-height: 350px;
// }

.carousel-wrapper.tile {
	width: 100%;
	margin: 0 auto;
	float: none;
	overflow: hidden;
}

.carousel-inner {
	width: 100%;
}

.carousel {
	display: none;
	width: 100%;
	padding-top: 60px;

	&.slick-initialized {
		display: block;
	}

	.slick-list {
		overflow: visible;
	}

   .slick-slide {
   		opacity: 0.25;
   		transform: translate3d(0, -20px, 0);
   		transition: opacity 0.5s, transform 0.5s;

     	&.slick-current {
     		transform: translate3d(0, 0, 0);
     		opacity: 1
     	}

     	&:focus {
     		outline: none;
     	}
    }

    .tile-inner {
    	padding: 0 10%;
    }

	img {
		width: 100%;
	}

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
}

/*********************
VIDEO CONTENT
**********************/
.video.module {
    margin-top: 46px;
    margin-bottom: 66px;

	img {
		width: 100%;
	}
}
// play btn svg width="58px" height="58px"
.video-wrapper {
	position: relative;
}

// TEMPORARY BG PLACEHOLDER
.video-placeholder {
	width: 100%;
}

.video-play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 58px;
	height: 58px;
}

.video-js {
	width: 100%;

	&.vjs-paused {
		.vjs-poster,
		.vjs-big-play-button {
			display: block;
		}

		.vjs-control-bar {
			display: none;
		}
	}

	button.vjs-big-play-button {
		background-image: url(../../images/icons/video-play-btn.png);
		background-repeat: no-repeat;
	    background-color: transparent;
	    background-size: cover;
	    border: none;
		height: calc(116px/2);
		width: calc(116px/2);
		transform: translate3d(-50%, -50%, 0);
		margin: 0;
	    -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	    border-radius: 0;
	    -webkit-transition: none;
	    -moz-transition: none;
	    -o-transition: none;
	    transition: none;

	    &:before {
	    	display: none;
	    }
	}
}

.vjs-poster {
	background-size: cover;
}

/*********************
REUSEABLE BACKGROUNDS
**********************/
.mesh-bg {
	pointer-events: none;
	position: absolute;
	height: 372px;
	width: 236px;
	background-image: url(../../images/svg/mesh-dot-light.svg);
}

.mesh-bg.dark {
	background-image: url(../../images/svg/mesh-dot.svg);
}

.mesh-bg.wide {
	//338 at 414px
	width: 261px;
}

.mesh-bg.right {
	left: auto;
	right: 2%;
}

/*********************
SELECT ELEMENT STYLES
**********************/
.select2-container--default .select2-selection--single {
	border: none;
}

select, .select2.select2-container--default {
	border: 0;
	background-color: #fff;
	border: solid 1px #979797;
	border-radius: 0;
	-webkit-appearance: none;
	height: 44px;
	font-family: 'pangrambold';
	font-size: rem(24);
	line-height: rem(32);
	color: #221f20;
	text-transform: lowercase;
	padding: 0 0 0 18px;
	background-position: right 18px center;
	margin-bottom: 0;

	.select2-selection__arrow {
		display: block;
		height: 100%;
		width: 100%;
	    top: 0;
	    right: 0;

		b {
			border: none;
			background-image: url(../../images/icons/select-arrow.png);
			background-size: 100%;
			background-repeat: no-repeat;
			display: block;
			height: 13px;
			width: 19px;
			left: auto;
			margin: 0;
			right: 14px;
			top: 16px;
		}
	}
}

.select2-container .select2-selection--single {
	height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 44px;
	padding: 0;
}

.select2-container--classic .select2-results>.select2-results__options, .select2-container--default .select2-results>.select2-results__options {
	border: solid 1px #979797;
	max-height: none;
}

.select2-container--open .select2-dropdown--below {
	border: none;
	margin-top: 6px;
}

.select2-selection__rendered,
.select2-selection {
	padding-left: 0;

	&:focus {
		outline: none;
	}
}

.select2-results__option {
	font-family: pangrambold;
	font-size: rem(25);
	line-height: 2;
	color: #000;
	text-transform: lowercase;
	padding: 0 0 0 18px;
}

.toggle-filter {
	overflow: auto;

	a {
		text-align: center;
		font-family: 'gridnikregular';
		font-size: rem(20);
		text-decoration: none;
		float: left;
		display: block;
		padding: 17px 0 11px;
		width: 60px;
		border: solid 1px #979797;
		color: #B8B8B8;

		background: repeating-linear-gradient(
		  45deg,
		  #c1c1c1,
		  #d6d6d6 1px,
		  #fff 1px,
		  #fff 5px
		);

		& + a {
			border-left: none;
		}

		&.active {
			background: transparent;
			color: #221F20;
		}
	}
}

.filter-wrap {
	margin: 0 auto;
    width: 77%;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

.section-header {
	padding: 6% 5% 5px;
	overflow: auto;
}

.logo {
	font-size: 0px;
	float: left;
	margin: 0;
    z-index: 1;
    position: relative;
    width: 32%;
    padding-top: 2px;

	a {
		color: $white;
	}

	.svg-logo {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	span {
		font-size: 33px;
		display: inline-block;
		vertical-align: middle;
	}
}

.header-icon-logo {
	fill: #fff;
}

.main-menu-btn,
.close-btn {
	float: right;
	width: 8%;
	max-width: 28px;
	height: 20px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform .5s ease-in-out;
	-moz-transition: transform .5s ease-in-out;
	-o-transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	cursor: pointer;
	z-index: 1000;

	&:after {
		content: '';
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.main-menu-btn svg {
	display: none;
}

.main-menu-btn  span,
.close-btn span {
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #fff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.close-btn span {
	background-color: #000;
}

/* Icon 3 */
.main-menu-btn span:nth-child(1) {
	top: 0px;
}

.main-menu-btn span:nth-child(2),
.main-menu-btn span:nth-child(3),
.close-btn span:nth-child(2),
.close-btn span:nth-child(3) {
	top: 7px;
}

.main-menu-btn span:nth-child(4),
.close-btn span:nth-child(4) {
	top: 15px;
}

.menu-open .main-menu-btn span:nth-child(1),
.close-btn span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.menu-open .main-menu-btn span:nth-child(2),
.close-btn span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-open .main-menu-btn span:nth-child(3),
.close-btn span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-open .main-menu-btn span:nth-child(4),
.close-btn span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.logo-svg-icon {
	height: 32px;
	width: 179px;
}

header.light {
	#mask-2, .menu-mask, #menu-path-1 {
		stroke: #fff;
	}

	.menu-letter {
		fill: #fff;
	}
}

header.dark {
	.main-menu-btn  span {
		background-color: #000;
		-webkit-transition: background-color .5s ease-in-out;
		-moz-transition: background-color .5s ease-in-out;
		-o-transition: background-color .5s ease-in-out;
		transition: background-color .5s ease-in-out;
	}

	#mask-2, .menu-mask,
	#menu-path-1 {
		fill: #000;
	}

	.svg-logo {
		path,
		polygon,
		mask {
			fill: #000;
			-webkit-transition: fill .5s ease-in-out 0.5s;
			-moz-transition: fill .5s ease-in-out 0.5s;
			-o-transition: fill .5s ease-in-out 0.5s;
			transition: fill .5s ease-in-out 0.5s;
		}
	}
}

.menu-open {
	header.dark {
		.main-menu-btn  span {
			background-color: #fff;
		}
	}

	header.dark #mask-2,
	header.dark svg mask,
	header.dark svg path,
	header.dark svg polygon {
		fill: #fff;
	}
}

/*********************
GENERIC SVG SHAPES
**********************/
.svg-shape-1 {
	width: 143px;
}

/*********************
SECTION STYLES
**********************/
section {
	position: relative;

}

/*********************
MODULES GENERIC STYLES
**********************/
.module {
	position: relative;
}

/*********************
Years Experience Module
**********************/
.years-experience {
	height: 100%;
	width: 100%;
	position: relative;

	.years-experience-numbers {
		position: absolute;
	    top: -25px;
	    margin-right: 22.9%;
		font-family: 'pangrambold';
		font-size: rem(165);
		line-height: 1;
		color: #f0f0f0;
		opacity: 1;
		transition: opacity 0.5s;

		&.counting {
			opacity: 0;
		}

		span {
			display: block;
			width: 100px;

			& + span {
				margin-top: -41px
			}
		}
	}

	.years-experience-text {
		font-family: 'gridnikregular';
		font-size: rem(11);
		color: #d3d3d3;
	    text-transform: uppercase;
	    position: absolute;
		top: 200px;
		right: -13px;
	    transform: rotate(-90deg);
	    z-index: 1;
	    transition: transform 0.5s;
	    transform-origin: top;
	    letter-spacing: 1px;
	}
}

/*********************
HOME PAGE STYLES
**********************/

.home {
	section {
		background: #fff;
	}
	// Landing Section
	.landing {
		width: 100%;
		height: 100vh;
		background-image: url(../../images/backgrounds/landing-bg-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $black;

		.mesh-bg {
			left: 2%;
			top: 24.1%;
			opacity: 0.5;
		}

		h2 {
			color: #fff;
			font-size: 1.963em;
			line-height: 1.175em;
			letter-spacing: 1px;
			margin: 0 0 0 8%;
		    position: absolute;
		    top: 50%;
		    transform: translate(0, -50%);

		    p {
		    	margin: 0;
		    	display: block;
		    }
		}
	}

	.down-arrow {
	    width: 13px;
	    position: absolute;
	    bottom: 25px;
	    left: 50%;
	    transform: translate(-50%,0);
	}

	.company-statement {
		position: relative;
		padding-top: 37%;
		margin-bottom: 24%;

		.svg-shape-1 {
		    position: absolute;
		    left: 45%;
		    top: 43%;
		    transform: translate(-50%, 0);
		}

		p {
		    position: relative;
		    z-index: 1;
		    width: 78%;
		    margin: 0 auto 0;
		    text-align: justify;
		    -moz-text-align-last: left; /* Code for Firefox */
		    text-align-last: left;
		}
	}

	.years-experience {
		.years-experience-numbers {
			right: 0;
		}
	}

	.carousel-module {
		&.atEnd {
			.nav-arrow-right {
				opacity: 0.3;
				pointer-events: none;
			}
		}
	}
}

/*********************
PROJECTS SECTION
- Homepage
**********************/
.projects {
	overflow: hidden;

	.mesh-bg {
		left: 2%;
		top: 0%;
	}

	.mesh-bg.right {
		left: auto;
		right: 2%;
	}
}

.projects-1 {
	.carousel {
		padding-top: 75px;
	}
}

.projects-4 {
	padding-top: 12px;

	.mesh-bg {
		height: 200px;
		left: auto;
		right: 2%;
	}
}

.projects-5 {
	padding-bottom: 88px;
}

/*********************
Tiles
- Homepage
**********************/
.tile {
	position: relative;
	font-family: 'gridnikregular';
	width: 65%;
	float: left;
	margin-left: 10%;
	margin-bottom: 18%;
	font-size: rem(12);
	letter-spacing: 1px;
	color: #221f20;

	// &:nth-child(even){
	// 	float: right;
	// 	margin-left: 0;
	// 	margin-right: 10%;
	// }

	.tile-img {
		margin-bottom: rem(15);

		img {
			max-width: 100%;
		}
	}

	.tile-info {
		position: relative;
	}

	.tile-title,
	.tile-cat {
		text-transform: uppercase;
	}
	.tile-desc {
		// don't show the description and pipe
		// separator on mobile.
		display: none;

		&::before {
		    content: '';
		    display: inline-block;
		    margin-right: 7px;
		    margin-left: 5px;
		    height: 13px;
		    width: 1px;
		    background: #221F20;
		    vertical-align: middle;
		}
	}

	&.group2 {
		float: right;
		margin-left: 0;
		margin-right: 10%;
	}

	&.group2:nth-child(even){
		float: left;
		margin-left: 10%;
		margin-right: 0;
	}
}

/*********************
EMPLOYEES
**********************/
.employees {
	background-image: url(../../images/backgrounds/diagonal-lines-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: 0 13px;
	overflow: hidden;
	padding-bottom: 16%;
	position: relative;

	.carousel {
    	padding-top: 143px;

		.slick-slide {
			transform: translate3d(0,-60px,0);

			&.slick-current {
				transform: translate3d(0,0,0);
			}
		}

		.tile-inner {
			padding: 0;
		}

		.tile-img {
			width: 44%;
			margin-left: 11%;
		}

		.tile-info {
			margin-left: 11%;
		}

		.tile-title {
			font-size: rem(11);
		}

		.slide img {
			transition: transform 0.5s ease-in-out;
			transform: translate3d(-40%,0,0);
		}

		.slide.slick-current img {
			transform: translate3d(0,0,0);
		}
	}

	button {
		float: right;
		padding: 16px 32px 15px;
    	margin-right: 39px;
    	margin-top: 10px;
	}
}

/*********************
SERVICES Tile(s)
**********************/
.page-services {
	overflow: auto;

	.tile {
		margin: 0;
		float: none;
	}
}

/*********************
PRODUCTS Tile(s)
**********************/
.products {
	overflow: auto;

	.tile {
		float: right;
		margin-left: 0;
		margin-right: 10%;
	}
}

/*********************
To Top BTN
**********************/
.to-top {
	opacity: 0.6;
	display: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'gridnikregular';
	font-size: rem(12);
	cursor: pointer;

	svg {
		width: 26px;
		height: 17px;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	padding: 34px 3% 10%;
	text-align: center;

	.down-carrot {
		display: none;
	}

	a[href*="contact"]{
		color: #fff;
		border: solid #d7d8da 1px;
		text-decoration: none;
		padding: 10px 20px 11px 20px;
		font-family: 'pangrambold';
		display: inline-block;
	}

	.assembly-logo-icon {
		display: block;
		width: 33px;
    	margin: 12% auto 7%;

    	.main-path {
    		fill: #fff;
    	}
	}

	.copyright {
		margin: 0 0 7% 0;
		color: #c5c5c5;

		span {
			display: block;
		}
	}
}

/*********************
CONTACT
**********************/
// light footer
.page-contact {
	background: url(../../images/backgrounds/contact-bg.jpg);
	position: relative;

	.landing {
		padding-bottom: 30px;
		transition: margin 0.5s;
	}

	.photo-overlay-wrap {
		overflow: hidden;
		position: relative;
		transition: height 0.5s;
	}

	.add-photo-overlay {
		// position: absolute;
		left: 0;
		z-index: 1;
		width: 100%;
		background-color: #fff;
		transition: height 0.7s;
		padding-bottom: 7%;
		overflow: hidden;

		.mesh-bg {
			width: respmW(262);
			height: calc(calc(338px/414)*320);
			margin: respmW(187) 0 0 respmW(55);
		}

		.image {
			cursor: pointer;
			position: relative;

			.plus-box {
				.x-path {
					transform-origin: 50% 50%;
					transition: transform 0.3s;
				}
			}

			&.added {
				.hover-overlay {
					opacity: 1;

					.plus-box {
						.x-path {
						    transform: rotate(45deg);
						}
					}
				}
			}

			.hover-overlay {
				transition: opacity 0.5s;
				opacity: 0;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(255,255,255,.8);
			}

			.plus-box {
			    height: 46px;
			    width: 46px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate3d(-50%, -50%, 0);
			}
		}

		p {
			font-size: calc(calc(38px/414)*320);
			line-height: 1.14;
			font-family: 'pangrambold';
			color: #000;
		    width: 80%;
		    margin: 15% auto 12%;
	        letter-spacing: .37px;
	        text-transform: lowercase;
	        position: relative;
	        z-index: 1;
		}

		.add-photo-btn {
			background-color: #8ed6db;
			height: 46px; // 60px
			width: 46px; // 60px
			border-radius: 50%;
			display: block;
			position: relative;
			margin: 0 auto 0;
			transition: color 0.5s;

			&.disabled {
				background: #cecece;
				pointer-events: none;
			}

			span {
				position: absolute;
				display: block;
				background: #fff;
				height: 1px;
				width: 48%;
    			transform: translate(-50%,-50%);
    			top: 50%;
    			left: 50%;

				&:nth-child(2) {
					transform: translate(-50%,-50%) rotate(90deg);
				}
			}
		}

		.close-btn {
			height: 19px;
			width: 19px;

			svg {
				height: 100%;
				width: 100%;
			}

			&:after {
				display: inline;
				position: static;
			}
		}
	}

	.add-photos-carousel-wrap {
		nav {
			display: none;
		}
	}

	.add-photos-carousel {
		.image {
			padding: 25px;
		}

		.owl-wrapper {
			display: table !important;
		}

		.owl-item {
			display: table-cell;
			float: none;
			vertical-align: middle;
			transition: opacity 0.5s;
			opacity: 0.5;

			&.active {
				opacity: 1;
			}
		}

		.owl-item > div {
			text-align: center;
		}
	}

	form {
		width: 80%;
		margin: 0 auto;

		.error-message {
			display: none;
		}

		label {
			display: none;

			&.active {
				display: block;
			}
		}

		p {
			color: #fff;
			line-height: rem(34);
			font-family: 'pangrambold';
			font-size: rem(30);
			margin: 0;

			&:first-child {
				padding-top: 16%;
			}
		}

		.pager {
			font-family: 'gridnikregular';
			font-size: rem(12);
		}

		button {
			padding: 14px 28px 13px;
			border: solid .75px #a7a6a6;
			margin-top: 6%;

			&.disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #282828;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #282828;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #282828;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #282828;
		}

		input {
			background-color: transparent;
			font-family: 'pangrambold';
			padding: 0 0 6px;
			font-size: rem(21);
			color: #fff;
			border-bottom: solid 1px #8f8f8f;
			width: 100%;

			&:focus,
			&:active {
				background: transparent;
			}
		}
	}

	.add-photo-icon {
		width: 154px;
		float: left;
	}

	.add-photo {
		overflow: auto;
		background-color: #f4f4f4;

		h3 {
			font-family: 'gridnikregular';
			text-transform: uppercase;
			font-size: rem(12);
			text-align: center;
		}

		.remove-photo {
			display: block;
			position: absolute;
			top: 4px;
			right: 6px;
			background: #fff;
			height: 30px;
			width: 30px;
			border-radius: 50%;
    		box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

			span {
				position: absolute;
				display: block;
				background: #000;
				height: 1px;
				width: 48%;
				transform: translate(-50%,-50%) rotate(-45deg);
				top: 50%;
				left: 50%;

				& + span {
					transform: translate(-50%,-50%) rotate(45deg);
				}
			}
		}

		.photos-wrap {
			overflow: scroll;
			padding-bottom: 7.25%;
			// padding-right: 10.63%;

			.inner {
				overflow: hidden;
				padding-bottom: 10px;
				font-size: 0;
				direction: rtl;
				margin: 0 auto;
			}

			.track {
				float: right;
			}
		}

		.photos {
			width: 100%;
			overflow: auto;
		}

		.empty {
			.photo {
				margin: 0 auto;
				float: none;
			}
		}

		.photo {
			display: inline-block;
			width: 138px;
			background-size: cover;
			background-repeat: no-repeat;
			margin-right: 20px;
			position: relative;
			padding-top: 108px;

			img {
				width: 100%;
				display: block;
			}

			&.hidden {
				display: none;
			}
		}

		.addable-image {
			display: none;

			&.show {
				display: inline-block;
			}
		}

		.open-add-images {
			background-size: 100%;
    		background-position: center center;
    		margin-right: 0;
		}
	}

	.photo-list-carousel {
		// .owl-stage {
		// 	margin-right: -25px;
		// }

		.owl-item {

		}
	}

	.contact-info {
		background: #fff;

		a, span {
			font-size: rem(12);
			text-decoration: none;
			color: #000000;
			letter-spacing: 0.92px;
		}
	}

	.footer {
		padding: 14px 3% 10%;
		background-color: $white;

		.assembly-logo-icon {

	    	.main-path {
	    		fill: #000;
	    	}
		}

		.contact-info {
			a {
				display: block;
				text-decoration: none;
				font-family: 'roboto_monoregular';
				font-size: rem(11);
				margin-bottom: 20px;
			}

			a[href^="tel:"] {
				margin-bottom: 50px;
			}
		}
	}
}

#contact-map {
	height: 670px;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);

    .gm-svpc {
    	display: none;
    }
}

/*********************
CASE STUDIES Page
**********************/
.page-case-studies {
	.landing .case-study-category {
		width: 100%;
		height: 50vh;
		position: relative;
		font-family: 'pangrambold';
		font-size: rem(47);
	}

	.tile {
		width: 77.1%;
		margin-bottom: 18.81%;

		&.left-margin-sm {
			margin-left: 10.87%;
		}

		&.left-margin-med {
			margin-left: 11.84%;
		}

		&.left-margin-lrg {
			margin-left: 14.5%;
		}
	}

	p {
		line-height: 1.77;
		letter-spacing: 1.08px;
	}

	.section-header {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;

		.header-icon-logo {
			// fill: #000;
		}

		.main-menu-btn span {
			background: #000;
		}
	}

	.landing {
		.landing-inner {
			overflow: hidden;
			transition: height 0.7s;
			height: 100vh;
		}

		.case-study-category {
			&.hover {
				.default-content {
					width: 0;
				}

				.hover-content {
					transform: translate3d(0,0,0);
				}
			}

			.section-header {
				padding: 78px 0 40px calc(calc(87%/720) *100);
			}
		}

		h3 {
			overflow: visible;
			position: absolute;
			z-index: 1;
		    margin: 0;
		    top: 43%;
		    left: 9.661%;
		    letter-spacing: -4px;
		    z-index: 3;
		    color: #000;
		    transition: color .7s;

			span {
				display: block;
				float: left;
			}
		}

		.hover-content {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1003;
			background: url(../../images/backgrounds/case-study-hover-mobile-bg.jpg) no-repeat;
			background-size: cover;
			transition: transform 0.5s;
			// transform: translate3d(-100%,0,0);

			h3 {
				color: #fff;
			}
		}

		[data-letter] {
			// transition: transform 0.7s;
			transform: translate3d(0,0,0);
		}

		@keyframes modularM {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			50% {
				transform: translate3d(0,0,0);
			}

			51% {
				transform: translate3d(40px,-60px,0);
			}

			100% {
				transform: translate3d(40px,-60px,0);
			}
		}

		.modular {
			&.hover,
			&:hover {
				[data-letter="m"] {
					animation-name: modularM;
					animation-duration: 1s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
					// transform: translate3d(40px,-60px,0);
				}
				// [data-letter="o"] {
				// 	transform: translate3d(50px,-60px,0);
				// }
				// [data-letter="d"] {
				// 	transform: translate3d(60px,-60px,0);
				// }
				// [data-letter="u"] {
				// 	transform: translate3d(-92px,20px,0);
				// }
				// [data-letter="l"] {
				// 	transform: translate3d(-72px,20px,0);
				// }
				// [data-letter="a"] {
				// 	transform: translate3d(-90px,94px,0);
				// }
				// [data-letter="r"] {
				// 	transform: translate3d(-70px,94px,0);
				// }
			}
		}

		@keyframes customM {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			30% {
				display: block;
				transform: translate3d(0,0,0);
			}

			31% {
				display: block;
				transform: translate3d(0,30px,0);
			}

			80% {
				display: block;
				transform: translate3d(0,30px,0);
			}

			81% {
				display: block;
				transform: translate3d(-50px,60px,0);
			}

			82% {
				transform: translate3d(-50px,80px,0);
			}

			100% {
				transform: translate3d(-50px,80px,0);
			}
		}

		@keyframes customU {
			1% {
				display: block;
				transform: translate3d(0,0,0);
			}

			2% {
				transform: translate3d(0,-30px,0);
			}

			100% {
				transform: translate3d(0,-30px,0);
			}
		}

		.custom {
			&.hover,
			&:hover {
				// [data-letter="c"] {
				// 	transform: translate3d(0,-60px,0);
				// }
				[data-letter="u"] {
					animation-name: customU;
					animation-duration: 0.2s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
				// [data-letter="s"] {
				// 	transform: translate3d(-17px,20px,0);
				// }
				// [data-letter="t"] {
				// 	transform: translate3d(20px,20px,0);
				// }
				// [data-letter="o"] {
				// 	transform: translate3d(-122px,110px,0);
				// }
				[data-letter="m"] {
					animation-name: customM;
					animation-duration: 0.3s;
					animation-fill-mode: forwards;
					animation-delay: 0.4s;
				}
			}
		}
	}

	.landing {
		.default-content {
			background-size: cover;
			width: 100%;
			height: 50vh;
			position: relative;
			overflow: hidden;
			float: right;
			z-index: 4;
			transition: width 1s;

			.inner {
			    width: 100vw;
			    position: absolute;
			    height: 50vh;
			    right: 0;
			}
		}

		.modular .default-content .inner {
			background-image: url(../../images/pages/case-studies/00-Modular-Landing-mobile.jpg);
		}

		.custom .default-content .inner {
			background-image: url(../../images/pages/case-studies/00-Custom-Landing-mobile.jpg);
		}

		.square {
			width: 55.56%;
			height: 55.7%;
			top: 25%;
			left: 33.091%;
			position: absolute;

			&.white.solid {
				background: #fff;
			}

			&.white.border {
				background: transparent;
				border: solid 1px #979797;
			}
		}
	}

	.content {
		// position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		background: #fff;
		overflow: hidden;

		.content-header {
			padding-bottom: 20.77%;

			span:nth-child(3){
			    font-size: rem(11);
			    font-family: 'gridnikregular';
			    margin-top: 15px;
			    text-transform: uppercase;
			    margin-bottom: 80px;
			}
		}

		h2 {
			font-size: rem(42);
			line-height: 0.904;
		    margin: 0 auto 7%;
		    padding-top: 29.47%;
		    width: 77%;

		    span {
		    	display: block;
		    }
		}

		.select-filter,
		.select2 {
			margin-bottom: 7%;
		}

		.case-study-desc {
			width: 67.15%;
			margin: 0 auto 17.39% 22.71%;

			h4 {
				font-family: 'gridnikregular';
				text-transform: uppercase;
				font-size: rem(13);
				color: #221f20;
				letter-spacing: 1px;
			}

			p {
				font-size: rem(11);
			}
		}

		blockquote {
			clear: both;
			width: 66.43%;
			margin: 0 auto 20.53% 22.222%;

			strong {
				font-family: 'gridnikregular';
				font-size: rem(13);
				line-height: 2.77;
				text-transform: uppercase;
				color: #221F20;
			}
		}
	}

	section {
		background: #fff;
	}

	.content [data-kit-type],
	.case-study-landing {
		display: none;
		opacity: 0;
	}

	.case-study-landing.show,
	.case-study-category.show {
		display: block;
	}

	.case-study-container {
		overflow: hidden;
		transition: transform 0.7s;
		transform: translate3d(0,150px,0);

		&.show {
			animation: showAndUp 1s;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes showAndUp {
	1% {
		display: block;
	}

	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

/*********************
SERVICES Page
**********************/
.fn-noCursor {
	pointer-events: none;
}
.page-services {
	background-color: #fff;

	h1 {
		font-family: 'pangrambold';
		font-size: rem(32);
		margin: 24% auto 11%;
		width: 77%;
	}
	.filter-wrap {
		margin-bottom: 11.5%;
	}

	select {
		margin-bottom: 0;

	}

	section {
	}

	.mesh-bg {
		top: 0;
		margin-top: 20%;
		width: 85%;
		height: 60%;
		z-index: -1;
	}

	.tile {
		margin: 0 0 20% 0;
		float: none;
		width: auto;

		.tile-img {
			margin-bottom: 6%;
		}
	}

	.service-desc {
		width: 77%;
		margin: 0 auto 24%;
		font-size: rem(13);
		line-height: 1.76;
	}

	.individual-service {
		display: none;
	}

	.content.dynamic {
		.wide-1 img,
		.tall-1 img  {
			width: 78%;
		}

		.left img {
			margin-left: 9%;
		}

		.right img {
			margin-left: 13.7%;
		}

		.content-tile {
			margin-bottom: 30%;
		}

		.permitting-wrapper,
		.team-player-wrapper,
		.engineering-wrapper,
		.interior-buildouts-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-inner {
					margin-left: 11.3%;
					width: 78%;

					img {
						width: 100%;
					}
				}
			}
		}
		.team-player-wrapper,
		.imagine-experience-wrapper  {
			.intro-tile {
				margin-left: 0;

				.tile-inner {
					margin-left: 14.25%;
					width: 68%;
				}
			}
		}
	}
}

// NON DYNAMIC. NEEDS TO BE UPDATED
.tile.visualisation .tile-inner,
.visualisation-wrapper .intro-tile .tile-inner  {
	margin-left: 17%;
	width: 61%;
}

.visualisation-wrapper .content-1 .mesh-bg {
    top: -217px;
    right: 0;
    width: 150px;
    height: 313px;
}

.visualisation-wrapper .content-2 .mesh-bg {
    width: 32px;
    right: auto;
    left: 10px;
    height: 300px;
    top: -110px;
}

.tile.permitting {
	.tile-inner {
		margin-left: 13.5%;
		width: 77%;
	}
}

.tile.engineering {
	.tile-inner {
		margin-left: 9%;
		width: 77%;
	}
}

.tile.interior-buildouts {
	.tile-inner {
		margin-left: 18%;
		width: 66%;
	}

	.mesh-bg {
		top: -186px;
		right: 4px;
		left: auto;
		height: 429px;
		width: 283px;
	}
}

.tile.team-player {
	.tile-inner {
		margin-left: 7.7%;
		width: 77%;
	}
}

.tile.imagine-experience {
	.tile-inner {
		margin-left: 15.4%;
		width: 70%;
	}

	.mesh-bg {
		right: auto;
		left: 11px;
		height: resppx(430, 414, $screenWidth);
		width: resppx(225, 414, $screenWidth);
		margin: 0;
		top: 147px;
	}
}

/*********************
ABOUT US Page
**********************/
.page-about-us {
	background: #fff;

	.landing {
		position: relative;
	    padding-top: 16.4%;
	    overflow: visible;
	}

	.mesh-bg {
		top: 0;
		margin-top: 27.3%;
		right: 2%;
		left: auto;
		width: 77.3%;
		height: resppx(428, 414, $screenWidth);
	}

	// about us years exp
	.years-experience {
	    top: 97px;
	    left: -45px;

		.years-experience-numbers {
			left: 0;
		}

		.years-experience-text {
			top: 183px;
			left: 43px;
    		right: auto;
		}
	}

	.video {
		position: relative;
		width: 64.98%;
		margin: 0 0 13.5% 28.74%;
	}

	h1 {
		position: relative;
		z-index: 1;
		font-size: rem(35);
		margin: 0 0 11.5% 10%;
	}

	.callout {
	    width: 67.63%;
	    margin: 0 0 15% 11.11%;
	    background: #fff;
	    position: relative;
	    z-index: 1;
    	padding: 14px 0 18px;

		h3 {
			font-family: gridnikregular;
			text-transform: uppercase;
			font-size: rem(12.37);
			line-height: 1.5;
			margin: 0 0 3.7% 0;
		}

		p {
			margin: 0;
			line-height: 1.55;
		}
	}

	.inner-callout {
		width: 64.5%;
		margin-left: 21.98%;
		margin-top: 18.85%;
    	margin-bottom: 8.5%;

		p {
			line-height: 1.77;
		}
	}

	.carousel-module.projects {
		.mesh-bg {
		    top: 0;
    		height: 402px;
    		margin-top: 17.63%;
			left: 2%;
			width: resppx(284, 414, $screenWidth);
		}

		.carousel-wrapper {
			padding-bottom: 10%;
		}

		&[data-image-ratio="1to1"] .carousel .tile-inner {
    		padding: 0 9% 0 11%;
		}
	}

	.employees {
		margin-top: 16%;
		background: transparent;
		padding-bottom: 10%;

		.years-experience {
			top: -5px;
			left: -45px;

			.years-experience-numbers {
				left: auto;
				right: 0;
				top: -7px;
				margin-right: 6%;
			}

			.years-experience-text {
			    top: 186px;
			    left: auto;
			    right: -19%;
			}
		}

		.carousel {
			padding-top: 24%;

			.slick-slide {
				transform: translate3d(0,-26px,0);

				&.slick-current {
					transform: translate3d(0,0,0);
				}
			}

			.tile-img {
				width: 54.83%;
			}
		}

		.mesh-bg {
			right: 5px;
    		width: 70%;
    		height: 72.34%;
    		margin: 0;
		}
	}

	.our-approach {
		margin-top: 0;

		.copy {
			margin-left: 10%;
			width: 78%;
		}

		p {
			margin-bottom: 11.4%;
		}

		h3 {
			text-transform: lowercase;
			font-family: 'pangrambold';
			font-size: rem(39);
			line-height: rem(33);
			text-align: left;
			margin-bottom: 10.63%;
			margin-top: 0;

			span {
				display: block;
			}
		}

		button {
    		padding: 4.43% 4.94%;
		}

		.carousel-wrapper {
			padding-top: 13%;
		}

		.up-down-nav {
			display: none;
		}

		.carousel {
			background: url(../../images/svg/our-approach-dot-grid.svg) no-repeat;

			&.atEnd {
				.carousel-next {
					path:nth-child(1) {
						fill: #d6d6d6;
						stroke: #d6d6d6;
						pointer-events: none;
					}
				}
			}
		}

		.carousel-inner {
			position: relative;
			width: 100%;
		    padding-top: 19%;
		}

		.slick-dots {
			position: relative;
			bottom: auto;
			text-align: left;
			margin-left: 5.8%;
		}

		.slick-dots li {
			margin-right: 7%;
			margin-left: 0;
		}

		.slick-dots li button,
		.slick-dots li {
			height: 7px;
			width: 7px;
		}

		.slick-dots li.slick-active button:before {
			background-color: #98d8dc;
		}

		.slick-dots li button:focus {
			background: transparent;
		}

		.slick-dots li button:before {
			content: '';
			height: 7px;
			width: 7px;
			background: #222527;
    		border-radius: 50%;
		}

		.slide-number {
			font-family: 'pangrambold';
			color: #f0f0f0;
			font-size: rem(105.12);
			line-height: 1;
			letter-spacing: -1.75px;
		}

		.carousel-nav {
			position: absolute;
    		width: 100%;
    		top: 0;
    		left: 0;
    		z-index: 2;
		}

		.carousel-next {
			display: block;
			position: absolute;
			top: 15px;
			right: 11.59%;
			margin-top: 75%;

			svg {
				height: 33px;
				width: 33px;
			}
		}

		.carousel.our-approach {
			.slick-slide {
				width: 100vw;

				&:focus {
					outline: none;
				}

				.tile-copy {
					width: 78%;
					margin-left: 11.35%;
					padding-top: 15%;

					p:last-of-type {
						margin-bottom: 0;
					}

					h4 {
						font-family: 'gridnikregular';
						font-size: rem(11);
						text-transform: uppercase;
						color: #000;
						letter-spacing: 1.45px;
					}

					p {
						color: #7d7d7d;
					}
				}

				.tile-inner {
					padding: 0;
					width: 100%;
				}

				svg {
					margin: 0 auto;
				}

				&[data-slick-index="0"] {
					svg {
						width: 76.12%;
						margin-left: 15.22%;
						margin-top: 8.5%;
					}
				}

				&[data-slick-index="1"] {
					svg {
						width: 89.13%;
						margin-left: 4.83%;
						margin-top: 10%;
					}
				}

				&[data-slick-index="2"] {
					svg {
						width: 69.57%;
						margin-left: 21.26%;
						margin-top: 7.9%;
					}
				}

				&[data-slick-index="3"] {
					svg {
						width: 75.36%;
						margin-left: 12.32%;
						margin-top: 9%;
					}
				}

				&[data-slick-index="4"] {
					svg {
						width: 86.96%;
						margin-left: 6.76%;
						margin-top: 7%;
					}
				}
			}
		}

		.svg-slider {
			.num {
				font-family: 'pangrambold';
				font-size: rem(86);
				line-height: rem(91);
				color: #f0f0f0;
				position: absolute;
				top: -15px;
				right: 11%;
			}
			.viewport {
			    overflow: hidden;
			    width: 100%;
				svg {
				    width: 96%;
				    margin-left: 3%;
				}
			}
			.description {
				width: 62%;
				margin: -25% auto 0 11%;
				h4 {
					font-family: 'gridnikregular';
					font-size: rem(13);
					line-height: rem(20);
					letter-spacing: 1.08px;
				}

				p {
					font-size: rem(13);
					line-height: 1.8;
				}
			}

			.slider-nav {
				ul {
					margin: 10% 0 0 0;
					padding: 0;
					text-align: center;

					li {
						height: 11px;
						width: 11px;
						border-radius: 50%;
						background-color: #000;
						display: inline-block;
						opacity: .24;
						cursor: pointer;
						margin-right: 4%;

						&.active {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	a[href="/case-studies"] {
		margin: 14% auto 23.5%;
	}
}

a[href="/case-studies"] {
	width: 58%;
	margin: 242px auto 23.5%;
	display: block;

	svg {
		width: 100%;
	}
}